<!-- Start Core Features
    ============================================= -->
    <div id="feature" class="core-features-area default-padding-top bottom-less">
        <!-- Left Shape -->
        <div class="left-shape">
          <img src="assets/img/shape/5.webp" alt="Shape" />
        </div>
        <!-- End Left Shape -->
        <div class="container">
          <div class="core-features-items">
            <div class="row">
              <!-- Single Item -->
              <div
                class="single-item col-md-3 col-sm-6 wow fadeInUp"
                data-wow-delay="300ms"
              >
                <div class="item">
                  <i class="fas fa-chart-line"></i>
                  <h4>Modernization</h4>
                  <p>
                    We Modernize your software to be scalable, easy to 
                    be maintained, and be enriched.
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                  </p>
                </div>
              </div>
              <!-- Single Item -->
              <!-- Single Item -->
              <div
                class="single-item col-md-3 col-sm-6 wow fadeInUp"
                data-wow-delay="400ms"
              >
                <div class="item">
                  <i class="fas fa-headset"></i>
                  <h4>Optimize Workflow</h4>
                  <p>
                    Leverage the full power of top-notch digital technologies to boost 
                    your efficiency and workflow, reduce unnecessary costs and 
                    acquire robust security.
                  </p>
                </div>
              </div>
              <!-- Single Item -->
              <!-- Single Item -->
              <div
                class="single-item col-md-3 col-sm-6 wow fadeInUp"
                data-wow-delay="500ms"
              >
                <div class="item">
                  <i class="fas fa-rocket"></i>
                  <h4>Go-to Market Fast</h4>
                  <p>
                    Reduce time-to-market with our fast & agile development process.
                    The result is a functional version of your product with all core 
                    features ready to test with users.
                  </p>
                </div>
              </div>
              <!-- Single Item -->
              <!-- Single Item -->
              <div
                class="single-item col-md-3 col-sm-6 wow fadeInUp"
                data-wow-delay="600ms"
              >
                <div class="item">
                  <i class="fas fa-flask"></i>
                  <h4>Software Architecture</h4>
                  <p>
                    Apply scalable and fault-tolerant architectures to 
                    your mission-critical applications.
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                  </p>
                </div>
              </div>
              <!-- Single Item -->
            </div>
          </div>
        </div>
      </div>
      <!-- End COre Features -->