---
layout: default
title: Dika Karya Tech - Home
description: Dika Karya Tech, is a trusted consulting team that is ready to provide software solutions, information technology, and data communication for efficiency, up-to-date and development of your company's business.
---

{% include home-page/banner.html %}
{% include home-page/feature.html %}
{% include home-page/about.html %}
{% include home-page/services.html %}
{% include home-page/success-story.html %}
{% include home-page/product.html %}
{% include home-page/testimonial.html %}
{% include home-page/team.html %}
{% include home-page/faq.html %}
{% include home-page/latest-blog.html %}
{% include home-page/contact.html %}

<!-- Start Google Maps 
    ============================================= -->
<div class="maps-area">
  <div class="container-full">
    <div class="row">
      <div class="google-maps">
        <iframe
          src="https://www.google.com/maps/embed/v1/place?q=Voza+Tower,+Jalan+Mayjen+HR.+Muhammad,+Putat+Gede,+Surabaya,+East+Java,+Indonesia&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"
        ></iframe>
      </div>
    </div>
  </div>
</div>
<!-- End Google Maps -->

