---
layout: default
title: Dika Karya Tech - IT Software Developer
tagline: Dika Karya Tech is a trusted consulting team that is ready to provide software solutions, information technology, and data communication for efficiency, up-to-date and development of your company's business.
description: Dika Karya Tech develop Software, create Server and deploy Innovation.
language:	id
language_reference: index
---

{% include id/home-page/banner-nine.html %}
{% include id/home-page/feature-nine.html %}
{% include id/home-page/about.html %}
{% include id/home-page/services.html %}
{% include id/home-page/success-story.html %}
{% include id/home-page/product.html %}
{% include id/home-page/testimonial.html %}
{% include id/home-page/latest-blog.html %}
{% include id/home-page/contact.html %}

<!-- Start Google Maps 
    ============================================= -->
<div class="maps-area">
  <div class="container-full">
    <div class="row">
      <div class="google-maps">
        <iframe
          src="https://www.google.com/maps/embed/v1/place?q=Voza+Tower,+Jalan+Mayjen+HR.+Muhammad,+Putat+Gede,+Surabaya,+East+Java,+Indonesia&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"
        ></iframe>
      </div>
    </div>
  </div>
</div>
<!-- End Google Maps -->

