---
layout: default
title: Produk
tagline: Dika Karya Tech is a trusted consulting team that is ready to provide software solutions, information technology, and data communication for efficiency, up-to-date and development of your company's business.
description: Dika Karya Tech menyediakan produk-produk yang dapat meningkatkan efisiensi, dan produktifitas perusahaan Anda.
language: id
---

<!-- Start Breadcrumb 
    ============================================= -->
<div
  class="breadcrumb-area shadow dark bg-fixed text-center padding-xl text-light"
  style="background-image: url({{ "/assets/img/digital-concept.webp" }})"
>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Tingkatkan Dampak Anda dengan Produk kami</h1>
        <h2>Menyediakan produk-produk jadi untuk Perusahaan Anda</h2>
        <ul class="breadcrumb">
          <li><a href="{{ "" | absolute_url }}">Home</a></li>
          <li class="active">Produk</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End Breadcrumb -->

<!-- Start Overview -->
<div id="overview" class="work-list-area default-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="site-heading text-center">
                    <h2>Impactful <span>Products</span></h2>
                    <h4>Checkout Our amazing Products</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 overview-items solid-items">
                <!-- Start Tab Content -->
                <div class="row">

                    <!-- Start Single Item -->
                    <div class="single-item reverse">
                        <div class="col-md-6 thumb">
                            <img src="assets/images/products/simapro.webp" alt="Aplikasi Web Sistem Informasi Manajemen Proyek SIMAPRO">
                        </div>
                        <div class="col-md-6 info">
                            <h3>Aplikasi Web Sistem Informasi Manajemen Proyek SIMAPRO</h3>
                            <p>
                                Consulted or acuteness dejection an smallness if. Outward general passage another as it. Very his are come man walk one next. partiality
                            </p>
                            <p>
                                Celebrated conviction stimulated principles day. Sure fail or in said west. Right my front it wound cause fully am sorry if.
                            </p>
                            <ul>
                                <li> 
                                    <h4>Amazingly Simple Use</h4> 
                                    Certainty arranging am smallness by conveying
                                </li>
                                <li>
                                    <h4>Clear Documentation</h4>
                                    Frankness pronounce daughters remainder extensive
                                </li>
                                <li>
                                    <h4>Flexible user interface</h4>
                                    Outward general passage another as it. Very his are come man walk one next. Delighted prevailed supported
                                </li>
                            </ul>
                            <div class="footer">
                                <a href="product/simapro.html" class="btn circle btn-theme effect border btn-md">Selengkapnya</a>
                            </div>
                            {% include id/kontak-button.html product="Aplikasi Web Sistem Informasi Manajemen Proyek SIMAPRO" page="simapro.html" %}
                        </div>
                    </div>
                    <!-- End Single Item -->

                    <!-- Start Single Item -->
                    <div class="bg-gray padding-s single-item">
                        <div class="col-md-6 thumb">
                            <img src="/assets/images/products/sim-diklat.webp" alt="Aplikasi Web SIM Diklat Kordik KEP Rumah Sakit">
                        </div>
                        <div class="col-md-6 info">
                            <h3>Aplikasi Web SIM Diklat Kordik KEP Rumah Sakit</h3>
                            <p>
                                Consulted or acuteness dejection an smallness if. Outward general passage another as it. Very his are come man walk one next. partiality
                            </p>
                            <p>
                                Celebrated conviction stimulated principles day. Sure fail or in said west. Right my front it wound cause fully am sorry if.
                            </p>
                            <ul>
                                <li> 
                                    <h4>Amazingly Simple Use</h4> 
                                    Certainty arranging am smallness by conveying
                                </li>
                                <li>
                                    <h4>Clear Documentation</h4>
                                    Frankness pronounce daughters remainder extensive
                                </li>
                                <li>
                                    <h4>Flexible user interface</h4>
                                    Outward general passage another as it. Very his are come man walk one next. Delighted prevailed supported
                                </li>
                            </ul>
                            <div class="footer">
                                <a href="product/sidik.html" class="btn circle btn-theme effect border btn-md">Selengkapnya</a>
                            </div>
                            {% include id/kontak-button.html product="Aplikasi Web SIM Diklat Kordik KEP Rumah Sakit" page="sidik.html" %}
                        </div>
                    </div>
                    <!-- End Single Item -->

                    <!-- Start Single Item -->
                    <div class="single-item reverse">
                        <div class="col-md-6 thumb">
                            <img src="assets/images/products/sim-pemberkasan.webp" alt="Aplikasi Web SIM Pemberkasan">
                        </div>
                        <div class="col-md-6 info">
                            <h3>Aplikasi Web SIM Pemberkasan</h3>
                            <p>
                                Consulted or acuteness dejection an smallness if. Outward general passage another as it. Very his are come man walk one next. partiality
                            </p>
                            <p>
                                Celebrated conviction stimulated principles day. Sure fail or in said west. Right my front it wound cause fully am sorry if.
                            </p>
                            <ul>
                                <li> 
                                    <h4>Amazingly Simple Use</h4> 
                                    Certainty arranging am smallness by conveying
                                </li>
                                <li>
                                    <h4>Clear Documentation</h4>
                                    Frankness pronounce daughters remainder extensive
                                </li>
                                <li>
                                    <h4>Flexible user interface</h4>
                                    Outward general passage another as it. Very his are come man walk one next. Delighted prevailed supported
                                </li>
                            </ul>
                            <div class="footer">
                                <a href="product/sim-berkas.html" class="btn circle btn-theme effect border btn-md">Selengkapnya</a>
                            </div>
                            {% include id/kontak-button.html product="Aplikasi Web Pemberkasan" page="sim-berkas.html" %}
                        </div>
                    </div>
                    <!-- End Single Item -->

                    <!-- Start Single Item -->
                    <div class="bg-gray padding-s single-item">
                        <div class="col-md-6 thumb">
                            <img src="assets/images/products/SIP-T30.webp" alt="IP Phone Yealink SIP-T30">
                        </div>
                        <div class="col-md-6 info">
                            <h3>Yealink SIP-T30</h3>
                            <p>
                                SIP Phone (1 SIP, non POE)<br/>
                                132x64 (2.3"), HD Voice, 10/100 Dual-LAN, 1 SIP Account
                            </p>
                            <ul>
                                <li> 
                                    <h4>Superior HD Audio,Better Communication</h4> 
                                    The Yealink T3 series provides distraction-free communications with industry leading Smart Noise Filtering Technology, 
                                    which delivers excellent sound quality without extraneous noises and allows fluent conversations.
                                </li>
                                <li>
                                    <h4>Classic Design, Practical Details</h4>
                                    Designed by Yealink original team, T3 series inherits the design concept of Yealink IP phone family. 
                                    The advanced design including modern appearances and ergonomic details enables easier and friendly 
                                    operation experience to users.
                                </li>
                                <li>
                                    <h4>Strong Performance, More Possibilities</h4>
                                    Equipped with powerful chip, the T3 series owns a stronger computing ability and more upgraded functions, which ensures a 
                                    higher productivity and smoother office experience. Due to great performance, T3 series is capable to extend more services 
                                    for different business demands.
                                </li>
                            </ul>
                            <div class="footer">
                                <a href="product/sip-t30.html" class="btn circle btn-theme effect border btn-md">Selengkapnya</a>
                            </div>
                            {% include id/kontak-button.html product="Yealink SIP-T30" page="sip-t30.html" %}
                        </div>
                    </div>
                    <!-- End Single Item -->

                    <!-- Start Single Item -->
                    <div class="single-item reverse">
                        <div class="col-md-6 thumb">
                            <img src="assets/images/products/SIP-T31.webp" alt="IP Phone Yealink SIP-T31">
                        </div>
                        <div class="col-md-6 info">
                            <h3>Yealink SIP-T31</h3>
                            <p>
                                SIP Phone (2 SIP, non POE)<br/>
                                132x64 (2.3") Backlight, HD Voice, 10/100 Dual-LAN, 2 SIP Accounts
                            </p>
                            <ul>
                                <li> 
                                    <h4>Superior HD Audio,Better Communication</h4> 
                                    The Yealink T3 series provides distraction-free communications with industry leading Smart Noise Filtering Technology, 
                                    which delivers excellent sound quality without extraneous noises and allows fluent conversations.
                                </li>
                                <li>
                                    <h4>Classic Design, Practical Details</h4>
                                    Designed by Yealink original team, T3 series inherits the design concept of Yealink IP phone family. 
                                    The advanced design including modern appearances and ergonomic details enables easier and friendly 
                                    operation experience to users.
                                </li>
                            </ul>
                            <div class="footer">
                                <a href="product/sip-t31.html" class="btn circle btn-theme effect border btn-md">Selengkapnya</a>
                            </div>
                            {% include id/kontak-button.html product="Yealink SIP-T31" page="sip-t31.html" %}
                        </div>
                    </div>
                    <!-- End Single Item -->

                    <!-- Start Single Item -->
                    <div class="bg-gray padding-s single-item">
                        <div class="col-md-6 thumb">
                            <img src="assets/images/products/SIP-T33.webp" alt="IP Phone Yealink SIP-T33">
                        </div>
                        <div class="col-md-6 info">
                            <h3>Yealink SIP-T33 Gigabit Colour SIP Phone (4 SIP)</h3>
                            <p>
                                320x240 (2.4") Color Display, HD Voice, Gigabit Dual-LAN PoE, 4 SIP Accounts
                            </p>
                            <ul>
                                <li> 
                                    <h4>Superior HD Audio,Better Communication</h4> 
                                    The Yealink T3 series provides distraction-free communications with industry leading Smart Noise Filtering Technology, 
                                    which delivers excellent sound quality without extraneous noises and allows fluent conversations.
                                </li>
                                <li>
                                    <h4>Classic Design, Practical Details</h4>
                                    Designed by Yealink original team, T3 series inherits the design concept of Yealink IP phone family. 
                                    The advanced design including modern appearances and ergonomic details enables easier and friendly operation experience to users.
                                </li>
                                <li>
                                    <h4>Strong Performance, More Possibilities</h4>
                                    Equipped with powerful chip, the T3 series owns a stronger computing ability and more upgraded functions, which ensures a 
                                    higher productivity and smoother office experience. Due to great performance, T3 series is capable to extend more services 
                                    for different business demands.
                                </li>
                            </ul>
                            <div class="footer">
                                <a href="product/sip-t33.html" class="btn circle btn-theme effect border btn-md">Selengkapnya</a>
                            </div>
                            {% include id/kontak-button.html product="Yealink SIP-T33" page="sip-t33.html" %}
                        </div>
                    </div>
                    <!-- End Single Item -->

                    <!-- Start Single Item -->
                    <div class="single-item reverse">
                        <div class="col-md-6 thumb">
                            <img src="assets/images/products/SIP-T43W.webp" alt="IP Phone Yealink SIP-T43W">
                        </div>
                        <div class="col-md-6 info">
                            <h3>Yealink SIP-T43W Executive and Operator SIP Phone (12 SIP)</h3>
                            <p>
                            3.7" 360x160-pixel Graphical LCD, Dual USB Ports, Acoustic Shield, Opus Codec Support, 12 SIP Accounts, Dual-Port Gigabit Ethernet, 
                            PoE Support, USB Headset and EHS Support, Wi-Fi via WF40/WF50, Supports Expansion EXP43, With PSU
                            </p>
                            <ul>
                                <li> 
                                    <h4>Built-in WiFi, Effortless Deployment</h4> 
                                    The T34W supports 2.4G/5G built-in WiFi, providing more options for network connectivity. Enjoy faster, 
                                    hassle-free deployment with reduced cabling for a more attractive and efficient workspace.
                                </li>
                                <li>
                                    <h4>Superior HD Audio, Better Communication</h4>
                                    The Yealink T43W provides distraction-free communications with industry leading Smart Noise Filtering Technology, 
                                    which delivers excellent sound quality without extraneous noises and allows fluent conversations.
                                </li>
                                <li>
                                    <h4>Strong Performance, More Possibilities</h4>
                                    Equipped with powerful chip, the T43W owns a stronger computing ability and more upgraded functions, which ensures a 
                                    higher productivity and smoother office experience. Due to great performance, T3 series is capable to extend more services 
                                    for different business demands.
                                </li>
                                <li>
                                    <h4>Enhanced Security, Enjoy Peace of Mind</h4>
                                    The T43W is shielded with the latest in security protocols, making your conversations more secure than ever. 
                                    With TLS 1.3, you benefit from faster and more robust encryption, while WPA3 guards your network against emerging threats.
                                </li>
                            </ul>
                            <div class="footer">
                                <a href="product/sip-t43w.html" class="btn circle btn-theme effect border btn-md">Selengkapnya</a>
                            </div>
                            {% include id/kontak-button.html product="Yealink SIP-T43W" page="sip-t43w.html" %}
                        </div>
                    </div>
                    <!-- End Single Item -->

                    <!-- Start Single Item -->
                    <div class="bg-gray padding-s single-item">
                        <div class="col-md-6 thumb">
                            <img src="assets/images/products/SIP-T46U.webp" alt="IP Phone Yealink SIP-T46U">
                            <img src="assets/images/products/SIP-T46U-table.webp" alt="IP Phone Yealink SIP-T46U">
                        </div>
                        <div class="col-md-6 info">
                            <h3>Yealink SIP-T46U Executive Colour SIP Phone (16 SIP)</h3>
                            <p>
                                4.3" 480 x 272-pixel Color Display, Opus Codec Support, Dual USB Ports, Acoustic Shield, 16 SIP Accounts, 
                                Dual-Port Gigabit Ethernet, PoE support, USB Headset and EHS Support, Wi-Fi via WF40/WF50, Supports Expansion EXP43, With PSU
                            </p>
                            <ul>
                                <li> 
                                    <h4>Boost Productivity with New Powerful Chipsets</h4> 
                                </li>
                                <li>
                                    <h4>Sound and Hear with Remarkable Clarity</h4>
                                    Yealink Optima HD Voice technology combines cutting-edge hardware and software with wideband technology 
                                    for maximum acoustic performance. 
                                </li>
                                <li>
                                    <h4>Efficient Deployment and Management</h4>
                                    Yealink T4U series supports effortless mass deployment and Zero Touch Provisioning with Yealink's 
                                    Redirection and Provisioning Service (RPS) and Boot mechanism, making the device management labor-saving and 
                                    efficient for the administrators.
                                </li>
                                <li>
                                    <h4>Dual USB Ports for Flexible Expansion Choices</h4>
                                    Yealink T4U series supports effortless mass deployment and Zero Touch Provisioning with Yealink's 
                                    Redirection and Provisioning Service (RPS) and Boot mechanism, making the device management labor-saving and 
                                    efficient for the administrators.
                                </li>
                            </ul>
                            <div class="footer">
                                <a href="product/sip-t46u.html" class="btn circle btn-theme effect border btn-md">Selengkapnya</a>
                            </div>
                            {% include id/kontak-button.html product="Yealink SIP-T46U" page="sip-t46u.html" %}
                        </div>
                    </div>
                    <!-- End Single Item -->

                    <!-- Start Single Item -->
                    <div class="single-item reverse">
                        <div class="col-md-6 thumb">
                            <img src="assets/images/products/CP700.webp" alt="IP Phone Yealink CP700">
                        </div>
                        <div class="col-md-6 info">
                            <h3>Yealink CP700 Ultra Portable Conference Speaker (1.5m Voice Pickup)</h3>
                            <p>
                                2 omni-directional microphone  (voice pickup 1.5 meters), Bluetooth 4.2 with 100ft range, USB, 
                                Optima HD Voice, Full-Duplex Technology, 
                                Noise Suppression, Digital Signal Processing (DSP), Acoustic Echo Cancellation
                            </p>
                            <ul>
                                <li> 
                                    <h4>Build up an effective collaboration</h4>
                                </li>
                                <li>
                                    <h4>High quality sound</h4>
                                    HD audio offers a clear and natural sound. The omnidirectional microphone and full-duplex allows 
                                    meeting participants to be heard and involved in the meeting.
                                </li>
                                <li>
                                    <h4>Portable design</h4>
                                    Mobile with the elegant and lightweight design (220g), the CP700 is ideal for on-the-go business professionals with the protective pouch.
                                </li>
                                <li>
                                    <h4>Intelligent connectivity</h4>
                                    Able to pair the CP700 with 3 devices simultaneously. Calls from two different devices can be merged into one, by connecting the 
                                    CP700 through Bluetooth on one device, and with USB-connection on another device.
                                </li>
                                <li>
                                    <h4>Intuitive user interface</h4>
                                    Multiple buttons with LED indicators provide users with easy-to-understand guidance. Deep integrated with Microsoft Teams with a dedicated 
                                    Teams button, making it even easier to achieve Teams collaboration.
                                </li>
                            </ul>
                            <div class="footer">
                                <a href="product/cp700.html" class="btn circle btn-theme effect border btn-md">Selengkapnya</a>
                            </div>
                            {% include id/kontak-button.html product="Yealink CP700" page="cp700.html" %}
                        </div>
                    </div>
                    <!-- End Single Item -->

                    <!-- Start Single Item -->
                    <div class="bg-gray padding-s single-item">
                        <div class="col-md-6 thumb">
                            <img src="assets/images/products/yeastar-pbx-s20.webp" alt="Yeastar PBX S20 IP-PBX for SMB/SOHO">
                        </div>
                        <div class="col-md-6 info">
                            <h3>Yeastar PBX S20 IP-PBX for SMB/SOHO</h3>
                            <p>
                                Incl: 20 Users SIP, 20 SIP Trunks, 10 Concurrent Calls, Auto-Recording, 4 Analog Ports (need FXO/FXS Module)
                            </p>
                            <ul>
                                <li> 
                                    <h4>Compact entry-level small business phone system Easy to use, reliable and feature-rich</h4> 
                                </li>
                                <li>
                                    <h4>Easy to use. Powerful in Production Built for Small Business</h4>
                                    Yeastar S20 is a stand-alone PBX system with unrivalled range of features for business with less than 20 users. 
                                    It’s built to be simple to use and powerful in production.
                                    <ul>
                                        <li>20 Users</li>
                                        <li>10 Concurrent Calls</li>
                                        <li>Up to 4 FXS/FXO/BRI Ports</li>
                                        <li>Up to 1 GSM/3G/4G Channel</li>
                                        <li>20 VoIP Trunks</li>
                                    </ul>
                                </li>
                                <li>
                                    <h4>Flexible Modular Design</h4>
                                    Free Telephony Interfaces Combination
                                    With Yeastar S-Series, all the telephony interfaces are modular and customizable, S20 support 2 onboard module slots 
                                    to custom FXS, FXO, ISDN BRI, GSM/3G/4G.
                                </li>
                                <li>
                                    <h4>Powerful Remote Management</h4>
                                    Benefit from a highly secure platform to monitor and manage your PBX system(s) remotely and centrally. Whether you are a phone system 
                                    end user or a IT reseller, Yeastar Remote Management tool is here to free you from technical headaches and reduce IT & maintenance costs.
                                </li>
                            </ul>
                            <div class="footer">
                                <a href="product/pbx-s20.html" class="btn circle btn-theme effect border btn-md">Selengkapnya</a>
                            </div>
                            {% include id/kontak-button.html product="Yeastar PBX S20" page="pbx-s20.html" %}
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
                <!-- End Tab Content -->
            </div>
        </div>
    </div>
</div>
<!-- End Overview -->

<!-- Start Google Maps 
    ============================================= -->
<div class="maps-area">
  <div class="container-full">
    <div class="row">
      <div class="google-maps">
        <iframe
          src="https://www.google.com/maps/embed/v1/place?q=Voza+Tower,+Jalan+Mayjen+HR.+Muhammad,+Putat+Gede,+Surabaya,+East+Java,+Indonesia&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"
        ></iframe>
      </div>
    </div>
  </div>
</div>
<!-- End Google Maps -->
