---
layout: default
title: Jasa Layanan dari Dika Karya Tech
tagline: Dika Karya Tech adalah perusahaan Pengembang Software Custom di Sidoarjo.
description: Dika Karya Tech menghadirkan layanan Pengembangan Aplikasi Custom, Jasa Konsultan IT, Jasa Integrasi IPPBX, dan Otomasi proses Integrator sistem.
language: id
---

<!-- Start Breadcrumb 
    ============================================= -->
<div class="breadcrumb-area shadow dark bg-fixed text-center padding-xl text-light" style="background-image: url({{ "
    /assets/img/software-developer-typing.webp" }})">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Tingkatkan Dampaknya dengan Solusi IT</h1>
                <h2>Menghadirkan Solusi Digital Dengan Teknologi Dan Inovasi Terkini Untuk Proses Bisnis Perusahaan Anda
                </h2>
                <ul class="breadcrumb">
                    <li><a href="{{ "" | absolute_url }}">Home</a></li>
                    <li class="active">Layanan</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb -->

<!-- Start Overview -->
<div id="overview" class="work-list-area default-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="site-heading text-center">
                    <h2>Impactful <span>Works</span></h2>
                    <h4>Checkout Our amazing Services</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 overview-items solid-items">
                <!-- Start Tab Content -->
                <div class="row">

                    <!-- Start Single Item -->
                    <div class="bg-gray padding-s single-item">
                        <div class="col-md-6 thumb">
                            <img src="/assets/img/dikakaryatech-padi-m.webp" alt="Pengembangan Aplikasi Custom">
                        </div>
                        <div class="col-md-6 info">
                            <h3>Pengembangan Aplikasi / Software Custom.</h3>
                            <p>
                                Mengembangkan aplikasi custom berbasis web dan mobile untuk perusahaan menengah dancorporate.
                                Anda akan mendapatkan layanan pengembangan aplikasi web full-cycle dari konsep idesampai siap digunakan.
                                Siklus pengembangan software di Dika Karya Tech adalah PADI-M (<em>Planning, Analysis and Design, Implementation, Maintenance</em>).
                            </p>
                            <ul>
                                <li>
                                    <h4>Amazingly Simple Use</h4>
                                    Certainty arranging am smallness by conveying
                                </li>
                                <li>
                                    <h4>Clear Documentation</h4>
                                    Frankness pronounce daughters remainder extensive
                                </li>
                                <li>
                                    <h4>Flexible user interface</h4>
                                    Outward general passage another as it. Very his are come man walk one next.
                                    Delighted prevailed supported
                                </li>
                            </ul>
                            <div class="footer">
                                <a href="service/pengembangan-aplikasi-software-custom.html"
                                    class="btn circle btn-theme effect border btn-md">Selengkapnya</a>
                            </div>
                            {% include id/kontak-button.html product="Pengembangan Aplikasi / Software Custom"
                            page="service/pengembangan-aplikasi-software-custom.html" %}
                        </div>
                    </div>
                    <!-- End Single Item -->

                    <!-- Start Single Item -->
                    <div class="single-item reverse">
                        <div class="col-md-6 thumb">
                            <img src="assets/img/consultant.webp" alt="Jasa Konsultan IT dan Transformasi Digital">
                        </div>
                        <div class="col-md-6 info">
                            <h3>Jasa Konsultan IT dan Transformasi Digital.</h3>
                            <p>
                                Melalui layanan transformasi digital end-to-end, kami membantu perusahaan mengadopsi
                                teknologi baru,
                                meningkatkan efisiensi operasional,
                                dan mendorong perubahan mendasar untuk pertumbuhan bisnis yang berkelanjutan.
                            </p>
                            <ul>
                                <li>
                                    <h4>Amazingly Simple Use</h4>
                                    Certainty arranging am smallness by conveying
                                </li>
                                <li>
                                    <h4>Clear Documentation</h4>
                                    Frankness pronounce daughters remainder extensive
                                </li>
                                <li>
                                    <h4>Flexible user interface</h4>
                                    Outward general passage another as it. Very his are come man walk one next.
                                    Delighted prevailed supported
                                </li>
                            </ul>
                            <div class="footer">
                                <a href="service/jasa-konsultan-it-dan-transformasi-digital.html"
                                    class="btn circle btn-theme effect border btn-md">Selengkapnya</a>
                            </div>
                            {% include id/kontak-button.html product="Jasa Konsultan IT dan Transformasi Digital"
                            page="service/jasa-konsultan-it-dan-transformasi-digital.html" %}
                        </div>
                    </div>
                    <!-- End Single Item -->

                    <!-- Start Single Item -->
                    <div class="bg-gray padding-s single-item">
                        <div class="col-md-6 thumb">
                            <img src="assets/img/voip.webp" alt="Jasa Integrasi IPPBX / VoIP Server">
                        </div>
                        <div class="col-md-6 info">
                            <h3>Jasa Integrasi IPPBX / VoIP Server</h3>
                            <p>
                                Menerapkan teknologi digital dan internet untuk komunikasi internal, eksternal dan antar
                                cabang perusahaan yang aman, efisien dan tangguh.
                            </p>
                            <ul>
                                <li>
                                    <h4>Amazingly Simple Use</h4>
                                    Certainty arranging am smallness by conveying
                                </li>
                                <li>
                                    <h4>Clear Documentation</h4>
                                    Frankness pronounce daughters remainder extensive
                                </li>
                                <li>
                                    <h4>Flexible user interface</h4>
                                    Outward general passage another as it. Very his are come man walk one next.
                                    Delighted prevailed supported
                                </li>
                            </ul>
                            <div class="footer">
                                <a href="service/jasa-integrasi-ippbx-voip-server.html"
                                    class="btn circle btn-theme effect border btn-md">Selengkapnya</a>
                            </div>
                            {% include id/kontak-button.html product="Jasa Integrasi IPPBX / VoIP Server"
                            page="service/jasa-integrasi-ippbx-voip-server.html" %}
                        </div>
                    </div>
                    <!-- End Single Item -->

                    <!-- Start Single Item -->
                    <div class="single-item reverse">
                        <div class="col-md-6 thumb">
                            <img src="assets/img/system-integrator.webp" alt="Otomasi Proses dan Integrator Sistem">
                        </div>
                        <div class="col-md-6 info">
                            <h3>Otomasi Proses dan Integrator Sistem.</h3>
                            <p>
                                Penggunaan teknologi untuk melakukan tugas atau proses berulang di perusahaan.
                                Dan mengintegrasikan sistem yang terpisah menjadi terokestra dengan baik.
                            </p>
                            <ul>
                                <li>
                                    <h4>Amazingly Simple Use</h4>
                                    Certainty arranging am smallness by conveying
                                </li>
                                <li>
                                    <h4>Clear Documentation</h4>
                                    Frankness pronounce daughters remainder extensive
                                </li>
                                <li>
                                    <h4>Flexible user interface</h4>
                                    Outward general passage another as it. Very his are come man walk one next.
                                    Delighted prevailed supported
                                </li>
                            </ul>
                            <div class="footer">
                                <a href="service/otomasi-proses-dan-integrator-sistem.html"
                                    class="btn circle btn-theme effect border btn-md">Selengkapnya</a>
                            </div>
                            {% include id/kontak-button.html product="Otomasi Proses dan Integrator Sistem"
                            page="service/otomasi-proses-dan-integrator-sistem.html" %}
                        </div>
                    </div>
                    <!-- End Single Item -->

                </div>
                <!-- End Tab Content -->
            </div>
        </div>
    </div>
</div>
<!-- End Overview -->

<div class="companies-area bg-theme-small padding-s text-center" style="background-color: #fffafa;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 info">
                <h3><span>Cooperation</span> and <span>Trust</span> from The Client Company</h3>
                <p style="margin-bottom: 10px;">
                    Software and system development is only a tool to achieve business goals.
                    But there is no way to get valuable results without cooperation and trust from the client company.
                </p>                
                <div class="showcase-items owl-carousel owl-theme text-center" style="margin-bottom: 20px;">
                    <div class="single-item">
                        <a href="/portofolio.html">
                            <img src="/assets/images/portfolio/rahmat-keramik-showcase.webp" alt="UD. Rahmat Keramik" />
                        </a>
                    </div>
                    <div class="single-item">
                        <a href="/portofolio.html">
                            <img src="/assets/images/portfolio/rsisurabaya-showcase.webp" alt="SIM Diklat RSI Surabaya Achmad Yani" />
                        </a>
                    </div>
                    <div class="single-item">
                        <a href="/portofolio.html">
                            <img src="/assets/images/portfolio/hsgt-showcase.webp" alt="Aplikasi High School Game Time" />
                        </a>
                    </div>
                    <div class="single-item">
                        <a href="/portofolio.html">
                            <img src="/assets/images/portfolio/odg-showcase.webp" alt="Aplikasi ODG" />
                        </a>
                    </div>
                    <div class="single-item">
                        <a href="/portofolio.html">
                            <img src="/assets/images/portfolio/pasar-surya-showcase.webp" alt="Sistem Informasi Pepasaran PD. Pasar Surya" />
                        </a>
                    </div>
                </div>
                {% include id/kontak-button.html product="Aplikasi Web SIM Diklat Kordik KEP Rumah Sakit"
                page="product/sidik.html" %}
            </div>
        </div>
    </div>
</div>

<!-- Start Google Maps 
    ============================================= -->
<div class="maps-area">
    <div class="container-full">
        <div class="row">
            <div class="google-maps">
                <iframe
                    src="https://www.google.com/maps/embed/v1/place?q=Voza+Tower,+Jalan+Mayjen+HR.+Muhammad,+Putat+Gede,+Surabaya,+East+Java,+Indonesia&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe>
            </div>
        </div>
    </div>
</div>
<!-- End Google Maps -->