<!-- Start Core Features
    ============================================= -->
<div id="feature" class="core-features-area default-padding-top bottom-less">
  <!-- Left Shape -->
  <div class="left-shape">
    <img src="{{"assets/img/shape/5.webp" | absolute_url}}" alt="Shape" />
  </div>
  <!-- End Left Shape -->
  <div class="container">
    <div class="core-features-items">
      <div class="row">
        <!-- Single Item -->
        <div class="single-item col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="300ms">
          <div class="item">
            <i class="fas fa-chart-line"></i>
            <h4>60+ Projects Delivered</h4>
            <p></p>
          </div>
        </div>
        <!-- Single Item -->
        <!-- Single Item -->
        <div class="single-item col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="400ms">
          <div class="item">
            <i class="fas fa-headset"></i>
            <h4>12+ Years Experience</h4>
            <p><br/></p>
          </div>
        </div>
        <!-- Single Item -->
        <!-- Single Item -->
        <div class="single-item col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="500ms">
          <div class="item">
            <i class="fas fa-rocket"></i>
            <h4>20+ Happy Clients</h4>
            <p><br/></p>
          </div>
        </div>
        <!-- Single Item -->
        <!-- Single Item -->
        <div class="single-item col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="600ms">
          <div class="item">
            <i class="fas fa-flask"></i>
            <h4>5 Countries Served</h4>
            <p><br/></p>
          </div>
        </div>
        <!-- Single Item -->
      </div>
    </div>
  </div>
</div>
<!-- End COre Features -->