<!-- Start Team  <div id="team" class="team-area default-padding-top bottom-less">
    ============================================= -->
<div id="team" class="team-area default-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="site-heading text-center">
          <h2>Innovative <span>Team</span></h2>
          <h4>Meet our awesome and expert team members</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="team-items">
        <div class="col-md-4 single-item">
          <div class="item">
            <div class="thumb">
              <img src="{{"assets/img/programmer01.webp" | absolute_url}}" alt="Debi Prahara Dika" />
              <div class="overlay">
                <h4>I love my Studio</h4>
                <p>
                  Jointure goodness interest debating did outweigh. Is time from
                  them full my gone in went Of no introduced
                </p>
                <div class="social">
                  <ul>
                    <li class="twitter">
                      <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="pinterest">
                      <a href="#"><i class="fab fa-pinterest"></i></a>
                    </li>
                    <li class="instagram">
                      <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li class="vimeo">
                      <a href="#"><i class="fab fa-vimeo-v"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="info">
              <span class="message">
                <a href="#"><i class="fas fa-envelope-open"></i></a>
              </span>
              <h4>Debi Prahara Dika</h4>
              <span>Software Architect Consultant</span>
            </div>
          </div>
        </div>
        <div class="col-md-4 single-item">
          <div class="item">
            <div class="thumb">
              <img src="{{"assets/img/programmer02.webp" | absolute_url}}" alt="Rasmus Drunal" />
              <div class="overlay">
                <h4>Connecting People</h4>
                <p>
                  Jointure goodness interest debating did outweigh. Is time from
                  them full my gone in went Of no introduced
                </p>
                <div class="social">
                  <ul>
                    <li class="twitter">
                      <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="pinterest">
                      <a href="#"><i class="fab fa-pinterest"></i></a>
                    </li>
                    <li class="instagram">
                      <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li class="vimeo">
                      <a href="#"><i class="fab fa-vimeo-v"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="info">
              <span class="message">
                <a href="#"><i class="fas fa-envelope-open"></i></a>
              </span>
              <h4>Rasmus Drunal</h4>
              <span>Manager of Softing</span>
            </div>
          </div>
        </div>
        <div class="col-md-4 single-item">
          <div class="item">
            <div class="thumb">
              <img src="{{"assets/img/programmer03.webp" | absolute_url}}" alt="Dennis Brin" />
              <div class="overlay">
                <h4>Network Builder</h4>
                <p>
                  Jointure goodness interest debating did outweigh. Is time from
                  them full my gone in went Of no introduced
                </p>
                <div class="social">
                  <ul>
                    <li class="twitter">
                      <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="pinterest">
                      <a href="#"><i class="fab fa-pinterest"></i></a>
                    </li>
                    <li class="instagram">
                      <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li class="vimeo">
                      <a href="#"><i class="fab fa-vimeo-v"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="info">
              <span class="message">
                <a href="#"><i class="fas fa-envelope-open"></i></a>
              </span>
              <h4>Dennis Brin</h4>
              <span>Founder of Softing</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Team -->