<div>
  <a href="tel:082143186197" class="btn btn-primary">
    <i class="fa fa-phone"></i>
  </a>
  <a href="https://api.whatsapp.com/send?phone=6282143186197&text=Hallo%20Dika%20Karya%20Tech!%0A%0ASaya%20tertarik%20dengan%20%20*{{ include.product }}*%20-%20https://dikakaryatech.com/{{ include.page }}. Mohon%20bantuan%20anda%20untuk%20mengisi%20detail%20dibawah%20ini%20agar%20kami%20dapat%20mengirimkan%20brosur%20dan%20surat%20penawaran%20yang%20sesuai:%20%0A%0ANama%20Lengkap:%20%0AEmail:%20%0ANama%20Perusahaan:%20%0AAlamat:%20%0ANo.%20Telp/Whatsapp:%20%0A%0ATerima%20kasih." target="_blank" class="btn btn-success">
    <i aria-hidden="true" class="fab fa-whatsapp"></i>
  </a>
  <a href="mailto:infor@dikakaryatech.com?subject=Request%20For%20Quotation&body=Halo%20Dika%20Karya%20Tech! %0d%0a%0d%0aSaya%20tertarik%20dengan%20produk:%20{{ include.product }}%20-%20https://dikakaryatech.com/{{ include.page }}.%20Mohon%20bantuan%20anda%20untuk%20mengisi%20detail%20dibawah%20ini%20agar%20kami%20dapat%20mengirimkan%20brosur%20dan%20surat%20penawaran%20yang%20sesuai:%20%0D%0A%0D%0ANama%20Lengkap:%20%0D%0AEmail:%20%0D%0ANama%20Perusahaan:%20%0D%0AAlamat:%20%0D%0ANo.%20Telp/Whatsapp:%20%0D%0A%0D%0ATerima%20kasih." class="btn btn-theme">
    <i aria-hidden="true" class="fa fa-envelope"></i>
  </a>
</div>
