<!-- Start Banner 
    ============================================= -->
<div
  class="banner-area overflow-inherit transparent-nav text-xl content-double"
>
  <!-- Fixed Shape -->
  <div
    class="fixed-shape-right"
    style="background-image: url(assets/img/shape/4.png)"
  ></div>
  <!-- End Fixed Shape -->
  <div class="box-table">
    <div class="box-cell">
      <div class="container">
        <div class="row">
          <div class="double-items with-thumb">
            <!-- Banner Left Content -->
            <div class="info col-md-6">
              <div class="content inc-video">
                <h1>
                  It's time to create your
                  <strong>Own Business scheme</strong>
                </h1>
                <p>
                  Celebrated delightful an especially increasing instrument am.
                  Indulgence contrasted sufficient.
                </p>
                <a href="#" class="btn circle btn-theme effect btn-md"
                  >Get Started</a
                >
              </div>
            </div>
            <!-- End Banner Left Content -->

            <!-- Start Banner Form -->
            <div class="thumb col-md-5 width-150 multi-thumb col-md-offset-1">
              <img src="assets/img/illustration/6.png" alt="Thumb" />
              <img
                class="helper"
                src="assets/img/illustration/6-1.png"
                alt="Thumb"
              />
              <img
                class="helper"
                src="assets/img/illustration/6-2.png"
                alt="Thumb"
              />
            </div>
            <!-- End Banner Form -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Banner -->
