<footer class="default-padding-top bg-light">
  <div class="container">
    <div class="row">
      <div class="f-items">
        <div class="col-md-3 col-sm-6 equal-height item">
          <div class="f-item about">
            <img src="{{"assets/img/logo-text.svg" | absolute_url }}" alt="Dika
            Karya Tech" />
            <p>
              A trusted consulting team that is ready to provide 
              software solutions, information technology, and data communication 
              for efficiency, up-to-date and development of your company's business. 
            </p>
            <h5>Follow Us</h5>
            <ul>
              <li>
                <a href="https://twitter.com/dikakaryatech"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="https://www.instagram.com/dikakaryatech/"><i class="fab fa-instagram"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 col-sm-6 equal-height item">
          <div class="f-item link">
            <h4>Company</h4>
            <ul>
              <li>
                <a href="{{ "index.html" | absolute_url }}">Home</a>
              </li>
              <li>
                <a href="{{ "portfolios.html" | absolute_url }}">Portfolio</a>
              </li>
              <li>
                <a href="{{ "services.html" | absolute_url }}">Services</a>
              </li>
              <li>
                <a href="{{ "products.html" | absolute_url }}">Products</a>
              </li>
              <li>
                <a href="{{ "about-us.html" | absolute_url }}">About us</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 col-sm-6 equal-height item">
          <div class="f-item link">
            <h4>Technology</h4>
            <ul>
              <li>
                <a href="{{ "technology.html#php" | absolute_url }}">PHP</a>
              </li>
              <li>
                <a href="{{ "technology.html#golang" | absolute_url }}">GoLang</a>
              </li>
              <li>
                <a href="{{ "technology.html#tailwind" | absolute_url }}">Tailwind</a>
              </li>
              <li>
                <a href="{{ "technology.html#linux" | absolute_url }}">Linux</a>
              </li>
              <li>
                <a href="{{ "technology.html#asterisk" | absolute_url }}">Asterisk</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 col-sm-6 equal-height item">
          <div class="f-item link">
            <h4>Resources</h4>
            <ul>
              <li>
                <a href="{{ "blog/index.html" | absolute_url }}">Blog Page</a>
              </li>
              <li>
                <a href="{{ "ebook.html" | absolute_url }}">Ebook</a>
              </li>
              <li>
                <a href="{{ "career.html" | absolute_url }}">Career</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 equal-height item">
          <div class="f-item twitter-widget">
            <h4>Contact Info</h4>
            <p>
              Possible offering at contempt mr distance stronger an. Attachment
              excellence announcing
            </p>
            <div class="address">
              <ul>
                <li>
                  <div class="icon">
                    <i class="fas fa-home"></i>
                  </div>
                  <div class="info">
                    <h5>Website:</h5>
                    <span>www.dikakaryatech.com</span>
                  </div>
                </li>
                <li>
                  <div class="icon">
                    <i class="fas fa-envelope"></i>
                  </div>
                  <div class="info">
                    <h5>Email:</h5>
                    <span>info@dikakaryatech.com</span>
                  </div>
                </li>
                <li>
                  <div class="icon">
                    <i class="fas fa-phone"></i>
                  </div>
                  <div class="info">
                    <h5>Phone:</h5>
                    <span>+62-821-4318-6197</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Start Footer Bottom -->
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-6">
            <p>
              &copy; Copyright 2019. All Rights Reserved by
              <a href="#">Dika Karya Tech</a>
            </p>
          </div>
          <div class="col-md-6 text-right link">
            <ul>
              <li>
                <a href="{{"terms.html" | absolute_url }}">Terms</a>
              </li>
              <li>
                <a href="{{ "privacy.html" | absolute_url }}">Privacy</a>
              </li>
              <li>
                <a href="{{ "support.html" | absolute_url }}">Support</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Footer Bottom -->
</footer>
