<!-- Start Navigation -->
<!-- <nav class="navbar navbar-default navbar-fixed dark no-background bootsnav on no-full"> -->
<nav class="navbar navbar-default navbar-fixed navbar-transparent white bootsnav on no-full">
  <div class="container">
    <!-- Start Atribute Navigation -->
    <div class="attr-nav button theme circle">
      <ul>
        <li>
          <a href="#contact">Kontak</a>
        </li>
      </ul>
    </div>
    <!-- End Atribute Navigation -->

    <!-- Start Header Navigation -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="{{ "" | absolute_url}}">
        <img src="{{"assets/img/logo-light.svg" | absolute_url }}" class="logo logo-display"
          alt="Dika Karya Tech | Trusted Software Developer">
        <img src="{{"assets/img/logo.svg" | absolute_url }}" class="logo logo-scrolled"
          alt="Dika Karya Tech | Trusted Software Developer">
      </a>
    </div>
    <!-- End Header Navigation -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-menu">
      <ul class="nav navbar-nav navbar-right" data-in="#" data-out="#">
        {% for item in site.data.navigation %}
        <li>
          {% if item.link %}
          <a class="smooth-menu" target="_blank" href="{{ item.link }}">{{ item.name }}</a>
          {% else %}
          <a class="smooth-menu" href="#{{ item.tagar | downcase }}">{{ item.name }}</a>
          {% endif %}
        </li>
        {% endfor %}
        <li style="padding: 30px 0 !important;">
          <a class="btn btn-secondary nav-link" role="button" style="border: 1px solid #e7e7e7 !important; padding: 5px 5px !important;" href="/en/index.html">
            <span class="lang-icon lang-icon-en" style="vertical-align: middle;"></span>
          </a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
</nav>
<!-- End Navigation -->