body {
    background-color: #f3f6f8;
}

/* ========
# single docs
======= */
#intro .item {
    background: #ffffff none repeat scroll 0 0;
    padding: 50px;
}

#intro .item strong {
    color: #0073ad;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: capitalize;
}

#intro .item>h4 {
    margin: 20px 0;
}

#intro .item h2 {
    font-size: 20px;
    font-weight: 700;
    margin: 30px 0 30px;
}

#intro .item ul {
    list-style-type: disc !important;
    padding: 1px 20px 20px 5px;
  }