<!-- Start About 
    ============================================= -->
<div id="about" class="about-area default-padding-top">
  <div class="container">
    <div class="row item-flex center">
      <div class="col-md-5 thumb left-width wow fadeInRight">
        <img src="assets/img/illustration/7.webp" alt="Thumb" />
      </div>
      <div class="col-md-7 default info wow fadeInUp">
        <h4>Why Chose Us</h4>
        <h2>Designed for startups <br />with expert developer</h2>
        <p>
          Both rest of know draw fond post as. It agreement defective to
          excellent. Feebly do engage of narrow. Extensive repulsive belonging
          depending if promotion be zealously as. Preference inquietude ask now
          are dispatched led appearance. Small meant in so doubt hopes.
        </p>
        <ul>
          <li>
            <h5>Rocket Fast</h5>
            <span>Elderly is detract tedious assured private</span>
          </li>
          <li>
            <h5>Custom Framework</h5>
            <span>Do travelling companions contrasted</span>
          </li>
          <li>
            <h5>Minimal Design</h5>
            <span>Mistress strongly remember up</span>
          </li>
        </ul>
        <a href="#" class="btn circle btn-theme effect btn-md">Read more</a>
      </div>
    </div>
  </div>
</div>
<!-- End About -->
