<!-- Start Faq  
    ============================================= -->
<div class="faq-area default-padding">
  <div class="container">
    <div class="row">
      <!-- Star Video Faq -->
      <div class="col-md-6 video-faq">
        <div class="video">
          <img src="assets/img/800x600.webp" alt="Thumb" />
          <a
            class="popup-youtube light video-play-button"
            href="https://www.youtube.com/watch?v=owhuBrGIOsE"
          >
            <i class="fa fa-play"></i>
          </a>
          <h4>Answer with video</h4>
        </div>
      </div>
      <!-- End Video Faq -->

      <!-- Star Accordion Items -->
      <div class="col-md-6 faq-items">
        <div class="acd-items acd-arrow">
          <div class="panel-group symb" id="accordion">
            <!-- Single Item -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a
                    data-toggle="collapse"
                    data-parent="#accordion"
                    href="#ac1"
                  >
                    <span>1</span> Do I need a business plan?
                  </a>
                </h4>
              </div>
              <div id="ac1" class="panel-collapse collapse in">
                <div class="panel-body">
                  <p>
                    She wholly fat who window extent either formal. Removing
                    welcomed civility or hastened is. Justice elderly but
                    perhaps expense six her are another passage. Full her ten
                    open fond walk not down.For request general express unknown
                    are.
                  </p>
                  <p>
                    He in just mr door body held john down he. So journey
                    greatly or garrets. Draw door kept do so come on open mean.
                    Estimating stimulated how reasonably precaution diminution
                    she simplicity sir but.
                  </p>
                </div>
              </div>
            </div>
            <!-- End Single Item -->

            <!-- Single Item -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a
                    data-toggle="collapse"
                    data-parent="#accordion"
                    href="#ac2"
                  >
                    <span>2</span> How long should a business plan be?
                  </a>
                </h4>
              </div>
              <div id="ac2" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>
                    She wholly fat who window extent either formal. Removing
                    welcomed civility or hastened is. Justice elderly but
                    perhaps expense six her are another passage. Full her ten
                    open fond walk not down.For request general express unknown
                    are.
                  </p>
                  <p>
                    He in just mr door body held john down he. So journey
                    greatly or garrets. Draw door kept do so come on open mean.
                    Estimating stimulated how reasonably precaution diminution
                    she simplicity sir but.
                  </p>
                </div>
              </div>
            </div>
            <!-- End Single Item -->

            <!-- Single Item -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a
                    data-toggle="collapse"
                    data-parent="#accordion"
                    href="#ac4"
                  >
                    <span>4</span> Where do I start?
                  </a>
                </h4>
              </div>
              <div id="ac4" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>
                    She wholly fat who window extent either formal. Removing
                    welcomed civility or hastened is. Justice elderly but
                    perhaps expense six her are another passage. Full her ten
                    open fond walk not down.For request general express unknown
                    are.
                  </p>
                  <p>
                    He in just mr door body held john down he. So journey
                    greatly or garrets. Draw door kept do so come on open mean.
                    Estimating stimulated how reasonably precaution diminution
                    she simplicity sir but.
                  </p>
                </div>
              </div>
            </div>
            <!-- Single Item -->
          </div>
        </div>
        <!-- End Accordion -->
      </div>
    </div>
  </div>
</div>
<!-- End Faq  -->
