<!-- Start Core Features
    ============================================= -->
    <div id="feature" class="core-features-area default-padding-top bottom-less">
        <!-- Left Shape -->
        <div class="left-shape">
          <img src="assets/img/shape/5.webp" alt="Shape" />
        </div>
        <!-- End Left Shape -->
        <div class="container">
          <div class="core-features-items">
            <div class="row">
              <!-- Single Item -->
              <div
                class="single-item col-md-3 col-sm-6 wow fadeInUp"
                data-wow-delay="300ms"
              >
                <div class="item">
                  <i class="fas fa-chart-line"></i>
                  <h4>Modernization</h4>
                  <p>
                    We Modernize your software to be scalable, easy to 
                    be maintained, and be enriched.
                  </p>
                </div>
              </div>
              <!-- Single Item -->
              <!-- Single Item -->
              <div
                class="single-item col-md-3 col-sm-6 wow fadeInUp"
                data-wow-delay="400ms"
              >
                <div class="item">
                  <i class="fas fa-headset"></i>
                  <h4>Digital Transformation</h4>
                  <p>
                    We can help finding what problems your software have 
                    or guiding you to start to have the best solution 
                    software for your company and your customer.
                  </p>
                </div>
              </div>
              <!-- Single Item -->
              <!-- Single Item -->
              <div
                class="single-item col-md-3 col-sm-6 wow fadeInUp"
                data-wow-delay="500ms"
              >
                <div class="item">
                  <i class="fas fa-rocket"></i>
                  <h4>Go-to Market Fast</h4>
                  <p>
                    MVP Development. Reduce time-to-market with our fast 
                    and agile development process. The result is 
                    a functional version of your product with all core features 
                    ready to test with users.
                  </p>
                </div>
              </div>
              <!-- Single Item -->
              <!-- Single Item -->
              <div
                class="single-item col-md-3 col-sm-6 wow fadeInUp"
                data-wow-delay="600ms"
              >
                <div class="item">
                  <i class="fas fa-flask"></i>
                  <h4>Custom CMS</h4>
                  <p>
                    Diminution expression point reasonable it we he projection
                    acceptance in devonshire.
                  </p>
                </div>
              </div>
              <!-- Single Item -->
            </div>
          </div>
        </div>
      </div>
      <!-- End COre Features -->