<!-- Start Success Stories 
    ============================================= -->
<div id="portfolio" class="success-stories-area bg-gray">
  <div class="container-full">
    <div class="row">
      <div class="item-flex">
        <div
          class="col-md-6 thumb bg-cover"
          style="background-image: url(assets/images/portfolio/salesboos1.webp)"
        ></div>
        <div class="col-md-6 info">
          <div class="heading">
            <h4>successful stories</h4>
          </div>
          <div class="stories-carusel owl-carousel owl-theme">
            <!-- Single Item -->
            <div class="item">
              <h2>Square new horses and put better and Sincerity collected</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Numquam est at dolor ad reprehenderit nam sequi. Mollitia ipsa
                nostrum laboriosam possimus, aperiam quis rem minus eos, eaque
                debitis necessitatibus provident!
              </p>
              <a href="portfolio.html" class="btn btn-theme effect btn-sm">Know More</a>
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            <div class="item">
              <h2>
                Front no party young abode state up Saved he do fruit woody
              </h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Numquam est at dolor ad reprehenderit nam sequi. Mollitia ipsa
                nostrum laboriosam possimus, aperiam quis rem minus eos, eaque
                debitis necessitatibus provident!
              </p>
              <a href="portfolio.html" class="btn btn-theme effect btn-sm">Know More</a>
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            <div class="item">
              <h2>
                Distrusts procuring be oh frankness existence believing
                instantly
              </h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Numquam est at dolor ad reprehenderit nam sequi. Mollitia ipsa
                nostrum laboriosam possimus, aperiam quis rem minus eos, eaque
                debitis necessitatibus provident!
              </p>
              <a href="portfolio.html" class="btn btn-theme effect btn-sm">Know More</a>
            </div>
            <!-- End Single Item -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Success Stories -->
