<!-- Start Testimonials 
    ============================================= -->
<div id="portfolio" class="testimonials-area bg-gray default-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="site-heading text-center">
          <h2>Customer <span>Review</span></h2>
          <h4>What people say about us</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="testimonial-items owl-carousel owl-theme">
            <!-- Single Item -->
            <div class="testimonial-item">
              <div class="thumb col-md-4">
                <img src="assets/img/800x800.png" alt="Thumb" />
              </div>
              <div class="info col-md-8">
                <div class="content">
                  <p>
                    Understood instrument or do connection no appearance do
                    invitation. Dried quick round it or order. Add past see west
                    felt did any. plate you share. My resolve arrived is we
                    chamber be removal.
                  </p>
                  <h4>Bubhan Kritha</h4>
                  <span>Web Developer</span>
                </div>
              </div>
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            <div class="testimonial-item">
              <div class="thumb col-md-4">
                <img src="assets/img/800x800.png" alt="Thumb" />
              </div>
              <div class="info col-md-8">
                <div class="content">
                  <p>
                    Understood instrument or do connection no appearance do
                    invitation. Dried quick round it or order. Add past see west
                    felt did any. plate you share. My resolve arrived is we
                    chamber be removal.
                  </p>
                  <h4>Junl Sarukh</h4>
                  <span>Software Engineer</span>
                </div>
              </div>
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            <div class="testimonial-item">
              <div class="thumb col-md-4">
                <img src="assets/img/800x800.png" alt="Thumb" />
              </div>
              <div class="info col-md-8">
                <div class="content">
                  <p>
                    Understood instrument or do connection no appearance do
                    invitation. Dried quick round it or order. Add past see west
                    felt did any. plate you share. My resolve arrived is we
                    chamber be removal.
                  </p>
                  <h4>Makhon Daino</h4>
                  <span>Compnay Owner</span>
                </div>
              </div>
            </div>
            <!-- End Single Item -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Testimonials -->
