---
layout: default
title: Dika Karya Tech - Blog
tagline: Dika Karya Tech share knowledge and experience.
description: Temukan informasi, dan artikel terbaru seputar teknologi, software engineering, software development dan software deployment di blog Dika Karya Tech.
language: id
---

<!-- Start Breadcrumb 
    ============================================= -->
<div class="breadcrumb-area shadow dark bg-fixed text-center padding-xl text-light" style="background-image: url({{"/assets/img/blogs.webp"}})">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Blog Kami</h1>
        <ul class="breadcrumb">
          <li><a href="{{ "" | absolute_url }}">Beranda</a></li>
          <li class="active">Blog</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End Breadcrumb -->

<!-- Start Blog 
    ============================================= -->
<div class="blog-area full-width bg-gray default-padding">
  <div class="container">
    <div class="row">
      <div class="blog-items">
        {% for post in paginator.posts %}
        <!-- Single Item -->
        <div class="col-md-4 col-sm-6 equal-height">
          <div class="item">
            <div class="thumb">
              <a href="{{ post.url }}">
                <img src="{{ post.image | absolute_url }}" alt="{{ post.title }}" />
              </a>
              <div class="tags">
                {% for tag in post.tags %}
                <a href="#">{{ tag }}</a>
                {% endfor %}
              </div>
            </div>
            <div class="info">
              <h4>
                <a href="{{ post.url }}">{{ post.title }}</a>
              </h4>
              <div class="meta">
                <ul>
                  <li>
                    <a href="#"><i class="fas fa-user"></i> {{ post.author }}</a>
                  </li>
                  <li>
                    <i class="fas fa-calendar-alt"></i> {{ post.date | date_to_string }}
                  </li>                  
                </ul>
              </div>
              <p>{{ post.excerpt }}</p>
              <div class="read-more">
                <a href="{{ post.url }}" class="more-btn">Read More <i class="fas fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Single Item -->
        {% endfor %}

        <!-- Pagination links -->
        <div class="col-md-12 pagi-area">
          <nav aria-label="navigation">
            <ul class="pagination">
              {% if paginator.previous_page %}
              <li class="active"><a href="{{ paginator.previous_page_path }}">Previous</a></li>
              {% else %}
              <li><a href="#">Previous</a></li>
              {% endif %}
              <li>
                <a href="#">Page: {{ paginator.page }} of {{ paginator.total_pages }}</a>
              </li>
              {% if paginator.next_page %}
              <li class="active"><a href="{{ paginator.next_page_path }}">Next</a></li>
              {% else %}
              <li><a href="#">Next</a></li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Blog -->