<!-- Start About 
    ============================================= -->
<div id="tentang-kami" class="about-area bg-gray default-padding-top">
  <div class="container">
    <div class="row item-flex center">
      <div class="col-md-7 default info wow fadeInUp">
        <h4>Mengapa Kami?</h4>
        <h2>Bukan sekedar Vendor. <br />Kami partner Anda.</h2>
        <p>
          Berpengalaman membuat solusi untuk market global, dan kami menemukan
          cara pengembangan yang lancar dan bermanfaat. Kami adalah mitra teknis
          untuk membangun produk aplikasi web-based dan mobile.
        </p>
        <ul>
          <li>
            <h5>Profesional</h5>
            <span>Karena kami bergerak di bidang layanan, sehingga kami mengupayakan service excellence.</span>
          </li>
          <li>
            <h5>Berpengalaman</h5>
            <span>Perusahaan kami berdiri sejaka 2019, namun personil kami cukup berpengalaman di dunia IT dan software
              development sejak 2009.</span>
          </li>
          <li>
            <h5>Teknologi Terkini</h5>
            <span>Kami terus belajar dan menyesuaikan diri dengan teknologi terbaru karena untuk solusi konsultasi
              kebutuhan yang tepat guna.</span>
          </li>
          <li>
            <h5>Konsultasi</h5>
            <span>Tim konsultan kami siap memecahkan masalah dan kebutuhan anda dengan memberikan solusi terbaik tepat
              guna.</span>
          </li>
          <li>
            <h5>PADI</h5>
            <span>Kami menerapkan Planning, Analysis, Design, Implementation dalam proses pengembangan software dan
              integrasi sistem.</span>
          </li>
        </ul>
      </div>
      <div class="col-md-5 default thumb wow fadeInRight">
        <h2>Klien Kami</h2>        
        <p>Dika Karya Tech merupakan partner yang tepat untuk transformasi digital di perusahaan anda</p>
        <div class="row">
          <!-- Single Item -->
          <div class="col-md-3 col-sm-6 single-item">
            <div class="item">
              <a href="#"><img src="/assets/images/clients/aa-tech-design.webp" alt="AA Tech Design" /></a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 single-item">
            <div class="item">
              <a href="#"><img src="/assets/images/clients/aa-tech-design.webp" alt="AA Tech Design" /></a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 single-item">
            <div class="item">
              <a href="#"><img src="/assets/images/clients/aa-tech-design.webp" alt="AA Tech Design" /></a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 single-item">
            <div class="item">
              <a href="#"><img src="/assets/images/clients/aa-tech-design.webp" alt="AA Tech Design" /></a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 single-item">
            <div class="item">
              <a href="#"><img src="/assets/images/clients/aa-tech-design.webp" alt="AA Tech Design" /></a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 single-item">
            <div class="item">
              <a href="#"><img src="/assets/images/clients/aa-tech-design.webp" alt="AA Tech Design" /></a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 single-item">
            <div class="item">
              <a href="#"><img src="/assets/images/clients/aa-tech-design.webp" alt="AA Tech Design" /></a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 single-item">
            <div class="item">
              <a href="#"><img src="/assets/images/clients/aa-tech-design.webp" alt="AA Tech Design" /></a>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
<!-- End About -->