<!-- Start About 
    ============================================= -->
<div id="tentang-kami" class="about-area bg-light default-padding bottom-less">
  <div class="container">
    <div class="row item-flex center">
      <div class="col-md-7 default info wow fadeInUp">
        <h4>Mengapa Kami?</h4>
        <h2>Bukan sekedar Vendor. <br />Kami partner Anda.</h2>
        <p>
          Berpengalaman membuat solusi untuk market global, dan kami menemukan
          cara pengembangan yang lancar dan bermanfaat. Kami adalah mitra teknis
          untuk membangun produk aplikasi web-based dan mobile.
        </p>
        <ul>
          <li>
            <h5>Profesional</h5>
            <span>Karena kami bergerak di bidang layanan, sehingga kami mengupayakan service excellence.</span>
          </li>
          <li>
            <h5>Berpengalaman</h5>
            <span>Perusahaan kami berdiri sejaka 2019, namun personil kami cukup berpengalaman di dunia IT dan software
              development sejak 2009.</span>
          </li>
          <li>
            <h5>Teknologi Terkini</h5>
            <span>Kami terus belajar dan menyesuaikan diri dengan teknologi terbaru karena untuk solusi konsultasi
              kebutuhan yang tepat guna.</span>
          </li>
          <li>
            <h5>Konsultasi</h5>
            <span>Tim konsultan kami siap memecahkan masalah dan kebutuhan anda dengan memberikan solusi terbaik tepat
              guna.</span>
          </li>
          <li>
            <h5>PADI</h5>
            <span>Kami menerapkan Planning, Analysis, Design, Implementation dalam proses pengembangan software dan
              integrasi sistem.</span>
          </li>
        </ul>
      </div>
      <div class="col-md-5 default info wow fadeInRight">
        <h4>Klien Kami</h4>
        <h2>Quality is not an act, <br />it is a habit</h2>
        <div class="row">
          <div class="features-box">
            <div class="col-md-4 col-sm-4 single-item text-center">
              <a href="#"><img src="/assets/images/clients/aa-tech-design.webp" alt="AA Tech Design" /></a>
            </div>
            <div class="col-md-4 col-sm-4 single-item text-center">
              <a href="#"><img src="/assets/images/clients/ClickMaximus.webp" alt="Click Maximus" /></a>
            </div>
            <div class="col-md-4 col-sm-4 single-item text-center">
              <a href="#"><img src="/assets/images/clients/Dopply-2023.webp" alt="Dopply AB" /></a>
            </div>
            <div class="col-md-4 col-sm-4 single-item text-center">
              <a href="#"><img src="/assets/images/clients/fabsheets200d.webp" alt="FABSheets by SalesBoss" /></a>
            </div>
            <div class="col-md-4 col-sm-4 single-item text-center">
              <a href="#"><img src="/assets/images/clients/Foxtrap-Marketing.webp" alt="Foxtrap Marketing" /></a>
            </div>
            <div class="col-md-4 col-sm-4 single-item text-center">
              <a href="#"><img src="/assets/images/clients/gr-logo.webp" alt="GFG Genarps ForetagsGrupp" /></a>
            </div>
            <div class="col-md-4 col-sm-4 single-item text-center bg-light">
              <a href="#"><img src="/assets/images/clients/greygoo-media.webp" alt="GreyGoo Media" /></a>
            </div>
            <div class="col-md-4 col-sm-4 single-item text-center">
              <a href="#"><img src="/assets/images/clients/grinderscape.webp" alt="Grinderscape" /></a>
            </div>
            <div class="col-md-4 col-sm-4 single-item text-center">
              <a href="#"><img src="/assets/images/clients/HK-1.webp" alt="Harrison-Kern Group of Companies" /></a>
            </div>
            <div class="col-md-4 col-sm-4 single-item text-center">
              <a href="#"><img src="/assets/images/clients/lbulmerandco.webp" alt="LBulmerAndCo" /></a>
            </div>
            <div class="col-md-4 col-sm-4 single-item text-center">
              <a href="#"><img src="/assets/images/clients/leetweb-design-marketing.webp" alt="LeetWeb Design and Marketing" /></a>
            </div>
            <div class="col-md-4 col-sm-4 single-item text-center">
              <a href="#"><img src="/assets/images/clients/Leo7Media-Ltd.webp" alt="Leo 7 Media. Ltd" /></a>
            </div>
            <div class="col-md-4 col-sm-4 single-item text-center bg-light">
              <a href="#"><img src="/assets/images/clients/maliempl.webp" alt="Maliemploi" /></a>
            </div>
            <div class="col-md-4 col-sm-4 single-item text-center">
              <a href="#"><img src="/assets/images/clients/MandiriTiket.webp" alt="Mandiri Tiket Com" /></a>
            </div>
            <div class="col-md-4 col-sm-4 single-item text-center">
              <a href="#"><img src="/assets/images/clients/MarkTrend.webp" alt="MarkTrend" /></a>
            </div>
            <div class="col-md-4 col-sm-4 single-item text-center">
              <a href="#"><img src="/assets/images/clients/MillerDavisAgency.webp" alt="Miller Davis Agency" /></a>
            </div>
            <div class="col-md-4 col-sm-4 single-item text-center">
              <a href="#"><img src="/assets/images/clients/NewBusinessSuccess-Ltd.webp" alt="New Business Success. Ltd" /></a>
            </div>
            <div class="col-md-4 col-sm-4 single-item text-center">
              <a href="#"><img src="/assets/images/clients/OrelaShipyard.webp" alt="PT. Orela Shipyard" /></a>
            </div>
            <div class="col-md-4 col-sm-4 single-item text-center">
              <a href="#"><img src="/assets/images/clients/pmjnlogo.webp" alt="PMJ Nusantara" /></a>
            </div>
            <div class="col-md-4 col-sm-4 single-item text-center">
              <a href="#"><img src="/assets/images/clients/PreeminentCapital-LLC .webp" alt="Preeminent Capital. LLC" /></a>
            </div>
            <div class="col-md-4 col-sm-4 single-item text-center">
              <a href="#"><img src="/assets/images/clients/RSISurabayaAYani.webp" alt="Rumah Sakit Islam Surabaya Ahmad Yani" /></a>
            </div>
            <div class="col-md-4 col-sm-4 single-item text-center">
              <a href="#"><img src="/assets/images/clients/smartpad-pro.webp" alt="SmartPad Pro" /></a>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
<!-- End About -->