<!-- Start About 
    ============================================= -->
<div id="tentang-kami" class="about-area bg-gray default-padding-top">
  <div class="container">
    <div class="row item-flex center">
      <div class="col-md-5 thumb left-width wow fadeInRight">
        <img src="assets/img/illustration/7.webp" alt="Thumb" />
      </div>
      <div class="col-md-7 default info wow fadeInUp">
        <h4>Mengapa memilih kami</h4>
        <h2>Bukan hanya vendor. <br />Partner Anda</h2>
        <p>
          Setelah pergi jauh membuat solusi untuk market global, kami menemukan 
          cara mengatur pengembangan yang lancar dan bermanfaat. Kami adalah 
          mitra teknis untuk membangun produk aplikasi web-based dan mobile.
        </p>
        <ul>
          <li>
            <h5>Rocket Fast</h5>
            <span>Elderly is detract tedious assured private</span>
          </li>
          <li>
            <h5>Custom Framework</h5>
            <span>Do travelling companions contrasted</span>
          </li>
          <li>
            <h5>Minimal Design</h5>
            <span>Mistress strongly remember up</span>
          </li>
        </ul>
        <a href="{{ "tentang-kami.html" }}" class="btn circle btn-theme effect btn-md">Read more</a>
      </div>
    </div>
  </div>
</div>
<!-- End About -->
