<!-- Start Banner 
    ============================================= -->
<div
  class="banner-area overflow-inherit transparent-nav text-xl content-double"
>
  <!-- Fixed Shape -->
  <div
    class="fixed-shape-right"
    style="background-image: url(assets/img/shape/4.webp)"
  ></div>
  <!-- End Fixed Shape -->
  <div class="box-table">
    <div class="box-cell">
      <div class="container">
        <div class="row">
          <div class="double-items with-thumb">
            <!-- Banner Left Content -->
            <div class="info col-md-6">
              <div class="content inc-video">
                <h1>
                  Digitalisasi Bisnis Anda 
                  <strong>Sesuai Kebutuhan Pengguna</strong>
                </h1>
                <p>
                  Ingin bisnis Anda lebih efisien, modern, dan berkembang? Dika Karya Tech adalah mitra tepercaya Anda. 
                  Kami menyediakan solusi software kustom, teknologi informasi, dan jaringan komunikasi data yang dirancang khusus 
                  untuk mendorong pertumbuhan dan inovasi perusahaan Anda.
                </p>
                <a href="#" class="btn circle btn-theme effect btn-md">Get Started</a>
              </div>
            </div>
            <!-- End Banner Left Content -->

            <!-- Start Banner Form -->
            <div class="thumb col-md-5 width-150 multi-thumb col-md-offset-1">
              <img src="assets/img/illustration/6.webp" alt="Thumb" />
              <img
                class="helper"
                src="assets/img/illustration/6-1.webp"
                alt="Thumb"
              />
              <img
                class="helper"
                src="assets/img/illustration/6-2.webp"
                alt="Thumb"
              />
            </div>
            <!-- End Banner Form -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Banner -->