<!-- Start Banner ============================================= -->
<div class="banner-area top-pad-80 text-xl bg-theme-responsive text-light content-double">
  <!-- Fixed Shape -->
  <div class="fixed-shape" style="background-image: url(assets/img/shape/2.png)"></div>
  <!-- End Fixed Shape -->
  <div class="box-table">
    <div class="box-cell">
      <div class="container">
        <div class="row">
          <div class="double-items with-thumb">
            <!-- Banner Left Content -->
            <div class="info col-md-6">
              <div class="content inc-video">
                <h1>
                  Mitra Digital Anda untuk 
                  <strong>Transformasi Bisnis yang Nyata</strong>
                </h1>
                <p>                  
                  Dika Karya Tech, Kami Ubah Teknologi Anda Jadi Kekuatan Bisnis.
                </p>
                <a href="#contact" class="btn circle btn-light effect btn-md">Hubungi Kami</a>
              </div>
            </div>
            <!-- End Banner Left Content -->

            <!-- Start Banner Form -->
            <div class="thumb col-md-5 width-150 multi-thumb col-md-offset-1">
              <img src="assets/img/illustration/6.webp" alt="Dika Karya Tech adalah perusahaan Pengembang Software Custom di Sidoarjo" />
              <img class="helper" src="assets/img/illustration/6-1.webp" alt="Dika Karya Tech adalah perusahaan IPPBX Server dan Integrator VoIP di Sidoarjo" />
              <img class="helper" src="assets/img/illustration/6-2.webp" alt="Dika Karya Tech adalah perusahaan Pengembang Aplikasi Custom di Sidoarjo" />
            </div>
            <!-- End Banner Form -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Banner -->

<!-- Start Companies Area 
    ============================================= -->
<div class="companies-area">
  <div class="container">
    <div class="company-items padding-s">
      <div class="row">
        <div class="col-md-12 info">
          <h3>Bagian dari <span>20+</span> klien kami</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 clients">
          <div class="clients-items owl-carousel owl-theme text-center">
            <div class="single-item">
              <a href="#"><img src="/assets/images/clients/aa-tech-design.webp" alt="AA Tech Design" /></a>
            </div>
            <div class="single-item">
              <a href="#"><img src="/assets/images/clients/ClickMaximus.webp" alt="Click Maximus" /></a>
            </div>
            <div class="single-item">
              <a href="#"><img src="/assets/images/clients/Dopply-2023.webp" alt="Dopply AB" /></a>
            </div>
            <div class="single-item">
              <a href="#"><img src="/assets/images/clients/fabsheets200d.webp" alt="FABSheets by SalesBoss" /></a>
            </div>
            <div class="single-item">
              <a href="#"><img src="/assets/images/clients/Foxtrap-Marketing.webp" alt="Foxtrap Marketing" /></a>
            </div>
            <div class="single-item">
              <a href="#"><img src="/assets/images/clients/gr-logo.webp" alt="GFG Genarps ForetagsGrupp" /></a>
            </div>
            <div class="single-item">
              <a href="#"><img src="/assets/images/clients/greygoo-media.webp" alt="GreyGoo Media" /></a>
            </div>
            <div class="single-item">
              <a href="#"><img src="/assets/images/clients/grinderscape.webp" alt="Grinderscape" /></a>
            </div>
            <div class="single-item">
              <a href="#"><img src="/assets/images/clients/HK-1.webp" alt="Harrison-Kern Group of Companies" /></a>
            </div>
            <div class="single-item">
              <a href="#"><img src="/assets/images/clients/lbulmerandco.webp" alt="LBulmerAndCo" /></a>
            </div>
            <div class="single-item">
              <a href="#"><img src="/assets/images/clients/leetweb-design-marketing.webp" alt="LeetWeb Design and Marketing" /></a>
            </div>
            <div class="single-item">
              <a href="#"><img src="/assets/images/clients/Leo7Media-Ltd.webp" alt="Leo 7 Media. Ltd" /></a>
            </div>
            <div class="single-item">
              <a href="#"><img src="/assets/images/clients/maliempl.webp" alt="Maliemploi" /></a>
            </div>
            <div class="single-item">
              <a href="#"><img src="/assets/images/clients/MandiriTiket.webp" alt="Mandiri Tiket Com" /></a>
            </div>
            <div class="single-item">
              <a href="#"><img src="/assets/images/clients/MarkTrend.webp" alt="MarkTrend" /></a>
            </div>
            <div class="single-item">
              <a href="#"><img src="/assets/images/clients/MillerDavisAgency.webp" alt="Miller Davis Agency" /></a>
            </div>
            <div class="single-item">
              <a href="#"><img src="/assets/images/clients/NewBusinessSuccess-Ltd.webp" alt="New Business Success. Ltd" /></a>
            </div>
            <div class="single-item">
              <a href="#"><img src="/assets/images/clients/OrelaShipyard.webp" alt="PT. Orela Shipyard" /></a>
            </div>
            <div class="single-item">
              <a href="#"><img src="/assets/images/clients/pmjnlogo.webp" alt="PMJ Nusantara" /></a>
            </div>
            <div class="single-item">
              <a href="#"><img src="/assets/images/clients/PreeminentCapital-LLC .webp" alt="Preeminent Capital. LLC" /></a>
            </div>
            <div class="single-item">
              <a href="#"><img src="/assets/images/clients/RSISurabayaAYani.webp" alt="Rumah Sakit Islam Surabaya Ahmad Yani" /></a>
            </div>
            <div class="single-item">
              <a href="#"><img src="/assets/images/clients/smartpad-pro.webp" alt="SmartPad Pro" /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Companies Area -->
