<!-- Start Contact Area  
    ============================================= -->
<div id="contact" class="contact-us-area default-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="site-heading text-center">
          <h2>Kontak <span>Kami</span></h2>
          <h4>Apakah Anda punya Ide, Pertanyaan, dan Kebutuhan?</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 contact-form">
        <h2>Mari konsultasikan ide, dan kebutuhan Anda</h2>
        <form action="https://serv.dikakaryatech.com/send.php" method="POST" class="contact-form">
          <div class="col-md-12">
            <div class="row">
              <div class="form-group">
                <input class="form-control" id="name" name="name" id="name" placeholder="Nama Anda" type="text" />
                <span class="alert-error"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input class="form-control" id="email" name="email" id="email" placeholder="Alamat Email*" type="email" />
                <span class="alert-error"></span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input class="form-control" id="phone" name="phone" id="phone" placeholder="Nomer Telpon/HP" type="text" />
                <span class="alert-error"></span>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="form-group comments">
                <textarea class="form-control" id="comments" name="comments" id="comments" placeholder="Ungkapkan ide, pertanyaan dan kebutuhan Anda *"></textarea>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <button type="submit" name="submit" id="submit">
                Kirim <i class="fa fa-paper-plane"></i>
              </button>
            </div>
          </div>
          <!-- Alert Message -->
          <div class="col-md-12 alert-notification">
            <div id="message" class="alert-msg"></div>
          </div>
        </form>
      </div>
      <div class="col-md-4 address">
        <div class="address-items">
          <ul class="info">
            <li>
              <h4>Alamat Kantor</h4>
              <div class="icon"><i class="fas fa-map-marked-alt"></i></div>
              <span>
                Voza Tower 20F,<br />
                Jalan HR Muhammad No 31,<br />
                Surabaya
              </span>
            </li>
            <li>
              <h4>Telepon</h4>
              <div class="icon"><i class="fas fa-phone"></i></div>
              <span>+62-821-4318-6197<br />+62-821-4318-6197</span>
            </li>
            <li>
              <h4>Email</h4>
              <div class="icon"><i class="fas fa-envelope-open"></i></div>
              <span>info@dikakaryatech.com<br />debipraharadika@gmail.com</span>
            </li>
          </ul>
          <h4>Media Sosial</h4>
          <ul class="social">
            <!-- <li class="facebook">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
            </li> -->
            <li class="twitter">
              <a href="https://twitter.com/dikakaryatech"><i class="fab fa-twitter"></i></a>
            </li>
            <!-- <li class="pinterest">
              <a href="#"><i class="fab fa-pinterest"></i></a>
            </li> -->
            <li class="instagram">
              <a href="https://www.instagram.com/dikakaryatech/"><i class="fab fa-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Contact -->