<!-- Start Features 
    ============================================= -->
<div
  id="layanan"
  class="feature-content-area text-center bg-gray default-padding bottom-less"
>
  <!-- Fixed Shape -->
  <div class="fixed-shape">
    <img
      src="assets/img/shape/3.webp"
      alt="Kenapa harus menggunakan jasa kami"
    />
  </div>
  <!-- Fixed Shape -->
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="site-heading text-center">
          <h2>Layanan <span>Kami</span></h2>
          <h4>
            Kami Hadirkan Teknologi Terbaru untuk Bisnis Anda, Agar Lebih
            Efisien dan Selalu Berinovasi.
          </h4>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="feature-content-items">
        <div class="row">
          <!-- Single Item -->
          <div class="col-md-3 col-sm-6 single-item equal-height">
            <div class="item" style="height: 100%">
              <div class="thumb" style="margin-bottom: 10px; padding: 25px 13px;">
                <a href="/servis.html#pengembagan-software-custom">
                  <img src="assets/img/pengembangan-web.webp" alt="Pengembangan Software" />
                </a>                
              </div>
              <h4>Pengembangan Software</h4>
              <p style="margin-bottom: 10px">
                Kami adalah mitra terpercaya dalam menciptakan aplikasi web dan
                mobile yang tangguh. Mulai dari konsep ide hingga menjadi
                software siap pakai, kami memastikan setiap tahap pengembangan
                dilakukan dengan presisi, dan menghasilkan solusi digital yang
                mendorong pertumbuhan bisnis Anda.
              </p>
              <a
                class="btn btn-theme effect border btn-sm"
                style="margin-top: 10px"
                href="/servis.html#pengembagan-software-custom"
                >Lebih Detail</a
              >
            </div>
          </div>
          <!-- End Single Item -->
          <!-- Single Item -->
          <div class="col-md-3 col-sm-6 single-item equal-height">
            <div class="item" style="height: 100%">
              <div class="thumb" style="margin-bottom: 10px; padding: 25px 13px;">
                <a href="/servis.html#instalasi-ippbx">
                  <img src="assets/img/instalasi-ippbx.webp" alt="Instalasi dan Integrasi IPPBX" />
                </a>                
              </div>
              <h4>Instalasi & Integrasi IPPBX</h4>
              <p style="margin-bottom: 10px">
                Menerapkan teknologi IP untuk sistem telepon perusahaan.
                Komunikasi internal, eksternal dan antar cabang yang aman,
                efisien dan tangguh. Memiliki lebih banyak fitur modern yang
                bisa dimanfaatkan untuk kebutuhan efisiensi dan produktifitas
                perusahaan.
              </p>
              <a
                class="btn btn-theme effect border btn-sm"
                style="margin-top: 10px"
                href="/servis.html#instalasi-ippbx"
                >Lebih Detail</a
              >
            </div>
          </div>
          <!-- End Single Item -->
          <!-- Single Item -->
          <div class="col-md-3 col-sm-6 single-item equal-height">
            <div class="item" style="height: 100%">
              <div class="thumb" style="margin-bottom: 10px; padding: 25px 13px;">
                <a href="/servis.html#konsultasi-it-transformasi-digital">
                  <img src="assets/img/jasa-konsultasi-it.webp" alt="Jasa Konsultasi dan Transformasi Digital" />
                </a>                
              </div>
              <h4>Jasa Konsultasi dan Transformasi Digital</h4>
              <p style="margin-bottom: 10px">
                Melalui layanan transformasi digital end-to-end, kami membantu
                perusahaan mengadopsi teknologi baru, meningkatkan efisiensi
                operasional, dan mendorong perubahan mendasar untuk pertumbuhan
                bisnis berkelanjutan.
              </p>
              <a
                class="btn btn-theme effect border btn-sm"
                style="margin-top: 10px"
                href="/servis.html#konsultasi-it-transformasi-digital"
                >Lebih Detail</a
              >
            </div>
          </div>
          <!-- End Single Item -->
          <!-- Single Item -->
          <div class="col-md-3 col-sm-6 single-item equal-height">
            <div class="item" style="height: 100%">
              <div class="thumb" style="margin-bottom: 10px; padding: 25px 13px;">
                <a href="/servis.html#integrasi-otomasi-sistem">
                  <img src="assets/img/integrasi-sistem.webp" alt="Otomasi Proses dan Integrasi Sistem" />
                </a>                
              </div>
              <h4>Otomasi Proses dan Integrasi Sistem</h4>
              <p style="margin-bottom: 10px">
                Penggunaan teknologi untuk melakukan tugas atau proses berulang
                di perusahaan. Dan mengintegrasikan sistem terpisah menjadi
                ter-okestra dengan baik dan indah. Integrasi software, jaringan
                dan hardware menghasilkan sistem otomasi untuk perusahaan anda.
              </p>
              <a
                class="btn btn-theme effect border btn-sm"
                style="margin-top: 10px"
                href="/servis.html#integrasi-otomasi-sistem"
                >Lebih Detail</a
              >
            </div>
          </div>
          <!-- End Single Item -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Features -->
