<!-- Start Features 
    ============================================= -->
<div id="layanan" class="feature-content-area text-center bg-gray default-padding bottom-less">
  <!-- Fixed Shape -->
  <div class="fixed-shape">
    <img src="assets/img/shape/3.webp" alt="Kenapa harus menggunakan jasa kami" />
  </div>
  <!-- Fixed Shape -->
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="site-heading text-center">
          <h2>Layanan <span>Kami Tawarkan</span></h2>
          <h4>Dika Karya Tech menghadirkan solusi dengan teknologi dan inovasi terkini untuk proses bisnis perusahaan.</h4>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="feature-content-items">
        <div class="row">
          <!-- Single Item -->
          <div class="col-md-3 col-sm-6 single-item equal-height">
            <div class="item" style="height: 100%;">
              <i class="flaticon-develop"></i>
              <h4>Pengembangan Software Custom</h4>
              <p style="margin-bottom: 10px;">
                Mengembangkan aplikasi atau software custom berbasis web dan mobile untuk perusahaan menengah dan corporate. 
                Anda akan mendapatkan layanan pengembangan aplikasi atau software web full-cycle dari konsep ide sampai siap digunakan.
              </p>
              <a class="btn btn-theme effect border btn-sm" style="margin-top: 10px;" href="/servis.html#pengembagan-software-custom">Lebih Detail</a>
            </div>
          </div>
          <!-- End Single Item -->
          <!-- Single Item -->
          <div class="col-md-3 col-sm-6 single-item equal-height">
            <div class="item" style="height: 100%;">
              <i class="flaticon-sketch"></i>
              <h4>Jasa Konsultan IT dan Transformasi Digital</h4>
              <p style="margin-bottom: 10px;">
                Melalui layanan transformasi digital end-to-end, kami membantu perusahaan
                mengadopsi teknologi baru, meningkatkan efisiensi operasional,
                dan mendorong perubahan mendasar untuk pertumbuhan bisnis berkelanjutan.
              </p>
              <a class="btn btn-theme effect border btn-sm" style="margin-top: 10px;" href="/servis.html#konsultasi-it-transformasi-digital">Lebih Detail</a>
            </div>
          </div>
          <!-- End Single Item -->
          <!-- Single Item -->
          <div class="col-md-3 col-sm-6 single-item equal-height">
            <div class="item" style="height: 100%;">
              <i class="flaticon-conversation"></i>
              <h4>Jasa Integrasi IPPBX / VoIP Server</h4>
              <p style="margin-bottom: 10px;">
                Menerapkan teknologi internet untuk sistem telpon perusahaan. Komunikasi internal, eksternal dan antar cabang yang aman, 
                efisien dan tangguh. Lebih banyak fitur canggih bisa dimanfaatkan untuk kebutuhan efisiensi dan produktifitas perusahaan.
              </p>
              <a class="btn btn-theme effect border btn-sm" style="margin-top: 10px;" href="/servis.html#instalasi-ippbx">Lebih Detail</a>
            </div>
          </div>
          <!-- End Single Item -->
          <!-- Single Item -->
          <div class="col-md-3 col-sm-6 single-item equal-height">
            <div class="item" style="height: 100%;">
              <i class="flaticon-refresh"></i>
              <h4>Otomasi Proses dan Integrator Sistem</h4>
              <p style="margin-bottom: 10px;">
                Penggunaan teknologi untuk melakukan tugas atau proses berulang di perusahaan.
                Dan mengintegrasikan sistem terpisah menjadi terokestra dengan baik dan indah.
                Integrasi software, jaringan dan hardware menghasilkan sistem otomasi untuk perusahaan anda.
              </p>
              <a class="btn btn-theme effect border btn-sm" style="margin-top: 10px;" href="/servis.html#integrasi-otomasi-sistem">Lebih Detail</a>
            </div>
          </div>
          <!-- End Single Item -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Features -->
