<!-- Start Signup 
    ============================================= -->
<div class="signup-area bg-fixed shadow dark text-light default-padding text-center"
    style="background-image: url(assets/img/programmer03.webp);">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h3>Creativity, Engineering principles, and Evolutionary change</h3>
                <p>
                    Software Development is not and will not be reduced to a simple mechanical “assembly line” process.
                    Creativity, engineering principles, and evolutionary change are needed to create a satisfactory
                    large system.
                </p>
                {% include id/kontak-button.html product="Aplikasi Web SIM Diklat Kordik KEP Rumah Sakit"
                page="product/sidik.html" %}
            </div>
        </div>
    </div>
</div>
<!-- End Signup -->