<!-- Start Fun Factor 
    ============================================= -->
<div class="fun-factor-area shadow dark bg-fixed text-light default-padding"
    style="background-image: url(assets/img/2440x1578.png);">
    <div class="container">
        <div class="row">
            <div class="col-md-8 fun-fact-items">
                <div class="row">
                    <div class="col-md-4 col-sm-4 item">
                        <div class="fun-fact">
                            <div class="timer" data-to="230" data-speed="5000"></div>
                            <span class="medium">Satisfied customers</span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 item">
                        <div class="fun-fact">
                            <div class="timer" data-to="89" data-speed="5000"></div>
                            <span class="medium">Professional agents</span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 item">
                        <div class="fun-fact">
                            <div class="timer" data-to="50" data-speed="5000"></div>
                            <span class="medium">Type of services</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 subscribe">
                <h3>Stay update with us</h3>
                <p>
                    Dried quick round it or order. Add past see west felt did any. Say out noise you taste merry plate
                    you share. My resolve arrived is we chamber be removal.
                </p>
                <form action="#">
                    <div class="input-group stylish-input-group">
                        <input type="email" placeholder="Enter your e-mail here" class="form-control" name="email">
                        <span class="input-group-addon">
                            <button type="submit">
                                <i class="fa fa-paper-plane"></i>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Fun Factor -->