<!-- Start Pricing Area
    ============================================= -->
<div id="produk" class="work-list-area default-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="site-heading text-center">
          <h2>Produk</h2>
          <h4>Daftar produk-produk kami</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 overview-items">
        <!-- Tab Nav -->
        <div class="tab-navigation text-center">
          <ul class="nav nav-pills">
            <li class="active">
              <a data-toggle="tab" href="#simapro" aria-expanded="false">
                <i class="flaticon-quality-badge"></i> SIMAPRO
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#sidik" aria-expanded="true">
                <i class="flaticon-quality-badge"></i> SIDIK
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#sipt30" aria-expanded="false">
                <i class="flaticon-start"></i> SIP-T30
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#pbxs20" aria-expanded="false">
                <i class="flaticon-start"></i> PBX S20
              </a>
            </li>
          </ul>
        </div>
        <!-- End Tab Nav -->
        <!-- Start Tab Content -->
        <div class="row">
          <div class="tab-content">
            <!-- Start Single Item -->
            <div id="sidik" class="tab-pane fade">
              <div class="col-md-6 thumb">
                <img src="/assets/images/products/sim-diklat.webp" alt="Aplikasi Web SIM Diklat Kordik KEP Rumah Sakit">
              </div>
              <div class="col-md-6 info">
                <h3>Software Diklat Rumah Sakit SIDIK</h3>
                <p>
                  Di tengah persaingan ketat, mutu layanan rumah sakit ditentukan oleh kualitas staf Anda. Untuk mencapai 
                  keunggulan kompetitif, staf medis dan non-medis perlu terus mengasah kompetensi. Software Diklat 
                  Rumah Sakit hadir sebagai solusi inovatif yang membantu rumah sakit Anda memberikan pelatihan terbaik 
                  demi peningkatan mutu layanan.
                </p>
                <p>
                  Software Diklat Rumah Sakit adalah sistem terintegrasi yang menyederhanakan seluruh proses pelatihan. 
                  Dari membuat program diklat hingga mengelola sertifikat, platform kami memberikan solusi lengkap untuk pengembangan staf.
                  Fitur-fitur canggih kami meliputi:
                  <ul>
                    <li>
                      <strong>Manajemen Program Pelatihan:</strong> Rancang dan kelola jadwal diklat dengan mudah.
                    </li>
                    <li>
                      <strong>Peserta:</strong> Lacak pendaftaran, kehadiran, dan kemajuan peserta secara real-time.
                    </li>
                    <li>
                      <strong>Materi Interaktif:</strong> Bagikan materi yang menarik untuk pembelajaran yang efektif.
                    </li>
                    <li>
                      <strong>Sertifikasi Otomatis:</strong> Kelola dan terbitkan sertifikat pelatihan dengan cepat.
                    </li>
                  </ul>
                </p>
                <p>
                  SIDIK adalah Software Diklat Rumah Sakit yang dirancang untuk mengelola data kepegawaian secara cerdas. 
                  Dengan SIDIK, Anda dapat memastikan pelatihan merata, bukan hanya pada staf yang sama. SIDIK membantu Anda mempersiapkan 
                  peserta diklat dan mengelola data alumni dengan efisien, memastikan setiap pegawai mendapatkan kesempatan yang adil untuk berkembang.
                </p>
                <ul>
                  <li>
                    <h4>Berbasis Web</h4>
                    Cukup menggunakan web browser di komputer atau smart phone.
                  </li>
                  <li>
                    <h4>Landing Page</h4>
                    Bisa digunakan untuk halaman publik untuk informasi umum departemen Diklat.
                  </li>
                  <li>
                    <h4>Manfaat Utama</h4>
                    Meningkatkan kompetensi dan keahlian staf, Meningkatkan efisiensi dan efektivitas pelatihan,
                    Meningkatkan mutu layanan rumah sakit, dan Meningkatkan daya saing rumah sakit
                  </li>
                  <li>
                    <h4>Kategori Kordik, KEP, dan Diklit</h4>
                    Manajemen Pelatihan In / Out House internal Karyawan Perusahaan (Diklit), Manajemen PKL, Magang, dan
                    Data awal dari Instansi luar Perusahaan (Kordik),
                    Manajemen Penelitian dari Instansi luar Perusahaan (KEP)
                  </li>
                </ul>
                <div class="footer">
                  <a href="product/sidik.html" class="btn circle btn-theme effect border btn-md">Selengkapnya</a>
                </div>
                {% include id/kontak-button.html product="Aplikasi Web SIM Diklat Kordik KEP Rumah Sakit"
                page="product/sidik.html" %}
              </div>
            </div>
            <!-- End Single Item -->

            <!-- Start Single Item -->
            <div id="simapro" class="tab-pane active fade in">
              <div class="col-md-6 thumb">
                <img src="assets/images/products/simapro.webp"
                  alt="Aplikasi Web Sistem Informasi Manajemen Proyek SIMAPRO">
              </div>
              <div class="col-md-6 info">
                <h3>Sistem Informasi Manajemen Proyek SIMAPRO</h3>
                <p>
                  Maksimalkan efisiensi proyek Anda. SIMAPRO adalah solusi software web terpadu yang membantu organisasi merencanakan, mengelola, 
                  dan mengawasi setiap aspek proyek. Dari perencanaan proyek hingga manajemen anggaran, SIMAPRO memberikan kontrol penuh, 
                  memastikan proyek Anda selesai tepat waktu dan sesuai target.
                </p>
                <p>
                  SIMAPRO menggunakan sistem approval bertingkat, dan memiliki beberapa kelompok user yaitu Admin,
                  Direksi, Purchasing, Accounting dan PimPro.
                </p>
                <ul>
                  <li>
                    <h4>Berbasis Web</h4>
                    Cukup menggunakan web browser di komputer atau smart phone.
                  </li>
                  <li>
                    <h4>Landing Page</h4>
                    Bisa digunakan untuk halaman publik untuk informasi umum departemen Diklat.
                  </li>
                  <li>
                    <h4>Analisa PIECES</h4>
                    metode analisis yang terdiri dari 6 indikator penilaian yaitu Performance, Information, Economy,
                    Control, Eficiency, dan Service.
                    Analisis ini merupakan cara untuk mengidentifikasi dan memecahkan permasalahan yang terjadi pada
                    suatu sistem berjalan.
                  </li>
                </ul>
                <div class="footer">
                  <a href="product/simapro.html" class="btn circle btn-theme effect border btn-md">Selengkapnya</a>
                </div>
                {% include id/kontak-button.html product="Aplikasi Web Sistem Informasi Manajemen Proyek SIMAPRO"
                page="product/simapro.html" %}
              </div>
            </div>
            <!-- End Single Item -->

            <!-- Start Single Item -->
            <div id="sipt30" class="tab-pane fade">
              <div class="col-md-6 thumb">
                <img src="assets/images/products/SIP-T30.webp" alt="IP Phone Yealink SIP-T30">
              </div>
              <div class="col-md-6 info">
                <h3>Yealink SIP-T30: Solusi Telepon IP Dasar yang Andal untuk Bisnis Anda</h3>
                <p>
                  Di dunia bisnis yang serba cepat, komunikasi yang jelas dan andal adalah kunci. 
                  Jangan biarkan telepon yang rumit atau tidak stabil menghambat produktivitas tim Anda. 
                  Yealink SIP-T30 hadir sebagai solusi telepon IP dasar yang dirancang untuk efisiensi, keandalan, dan kemudahan penggunaan.
                </p>
                <p>
                  Telepon IP ini ideal untuk kantor kecil, call center, dan bisnis yang membutuhkan perangkat komunikasi yang berfungsi optimal tanpa kerumitan.
                </p>                
                <p>
                  <h4>Fitur Unggulan yang Membuat Bisnis Anda Lebih Efisien:</h4>
                  <ul>
                    <li>
                      <h4>Panggilan Jernih dan Profesional</h4>
                      Berkat teknologi Yealink HD Voice dan Smart Noise Filtering, setiap percakapan terdengar sangat jernih. Ucapkan selamat tinggal 
                      pada suara statis dan tidak jelas yang sering mengganggu.                      
                    </li>
                    <li>
                      <h4>Pengaturan Sangat Mudah</h4>
                      Didesain dengan antarmuka yang intuitif dan zero-touch provisioning, Yealink SIP-T30 bisa diatur dalam hitungan menit. 
                      Tim Anda dapat langsung fokus pada pekerjaan, bukan pada teknis yang rumit.
                    </li>
                    <li>
                      <h4>Tampilan yang Jelas</h4>
                      Layar LCD grafis 132x64 piksel yang luas memastikan semua informasi penting, seperti ID penelepon dan durasi panggilan, dapat dibaca dengan mudah.
                    </li>
                    <li>
                      <h4>Fitur Dasar Panggilan Lengkap</h4>
                      Dilengkapi dengan semua fitur standar yang Anda butuhkan, termasuk call hold, mute, DND, dan konferensi tiga arah. 
                      Ini memungkinkan tim Anda mengelola panggilan dengan lebih profesional dan efektif.
                    </li>
                    <li>
                      <h4>Desain Ergonomis dan Profesional</h4>
                      Tampilan yang ramping dan tombol yang nyaman menjadikan telepon ini pilihan yang pas di setiap meja kerja, memberikan kesan profesional dan modern.
                    </li>
                  </ul>
                </p>
                <p>
                  <h4>Spesifikasi teknis: </h4>
                  SIP Phone (1 SIP, non POE)
                  132x64 (2.3"), HD Voice, 10/100 Dual-LAN, 1 SIP Account
                </p>
                <div class="footer">
                  <a href="product/sip-t30.html" class="btn circle btn-theme effect border btn-md">Selengkapnya</a>
                </div>
                {% include id/kontak-button.html product="Yealink SIP-T30" page="product/sip-t30.html" %}
              </div>
            </div>
            <!-- End Single Item -->

            <!-- Start Single Item -->
            <div id="pbxs20" class="tab-pane fade">
              <div class="col-md-6 thumb">
                <img src="assets/images/products/yeastar-pbx-s20.webp" alt="Yeastar PBX S20 IP-PBX for SMB/SOHO">
              </div>
              <div class="col-md-6 info">
                <h3>Yeastar PBX S20: Solusi Komunikasi Bisnis yang Ringkas, Kuat, dan Modern</h3>
                <p>
                  Di era digital, komunikasi bisnis yang efisien adalah pondasi untuk pertumbuhan. Jangan biarkan sistem telepon lama 
                  menghambat produktivitas dan membatasi konektivitas tim Anda. Yeastar S20 IP-PBX hadir sebagai solusi komunikasi serbaguna yang dirancang 
                  khusus untuk bisnis kecil dan UKM. Dengan desain yang ringkas, kinerja andal, dan fitur-fitur canggih, S20 adalah investasi terbaik untuk masa depan komunikasi perusahaan Anda.
                </p>
                <p>
                  Yeastar S20 adalah lebih dari sekadar sistem telepon; ini adalah pusat komunikasi yang mendorong kolaborasi tim dan kepuasan pelanggan. Dengan kombinasi kekuatan, fleksibilitas, 
                  dan kemudahan penggunaan, S20 adalah pilihan terbaik untuk bisnis yang ingin melangkah maju.Hubungi kami sekarang untuk konsultasi gratis dan rasakan sendiri keunggulan Yeastar S20!
                </p>                
                <p>
                  <h4>Mengapa Yeastar S20 adalah Pilihan Tepat?</h4>
                  <ul>
                    <li>
                      <h4>Fleksibilitas Tanpa Batas</h4>
                      Yeastar S20 mendukung hingga 20 pengguna dan 10 panggilan bersamaan, dengan kemampuan untuk terhubung ke berbagai jenis jaringan telepon, 
                      seperti PSTN, ISDN, dan VoIP. Ini memberikan fleksibilitas maksimal, memastikan Anda dapat beradaptasi dengan kebutuhan bisnis yang terus berubah.
                    </li>
                    <li>
                      <h4>Fitur Canggih Selevel Perusahaan Besar</h4>
                      Nikmati fitur yang biasanya hanya tersedia di sistem mahal, seperti IVR (Interactive Voice Response), rekaman panggilan, konferensi, dan call center dasar. 
                      Fitur-fitur ini membantu Anda melayani pelanggan dengan lebih profesional dan efisien.
                    </li>
                    <li>
                      <h4>Instalasi dan Manajemen Mudah</h4>
                      Didesain dengan antarmuka web yang intuitif, Yeastar S20 sangat mudah untuk diatur dan dikelola, bahkan tanpa keahlian teknis mendalam. Anda bisa mengendalikan seluruh sistem komunikasi dari satu dasbor.
                    </li>
                    <li>
                      <h4>Keamanan Terjamin</h4>
                      Yeastar S20 dilengkapi dengan sistem keamanan canggih untuk melindungi jaringan Anda dari serangan siber, memastikan semua komunikasi bisnis tetap aman dan rahasia.
                    </li>
                    <li>
                      <h4>Biaya Lebih Hemat</h4>
                      Beralih ke Yeastar S20 berarti mengucapkan selamat tinggal pada biaya panggilan yang tinggi dan biaya pemeliharaan yang rumit. Dengan teknologi VoIP, Anda bisa memangkas biaya operasional secara signifikan.
                    </li>
                  </ul>
                </p>
                <p>
                  <h4>Sepesifikasi teknis: </h4>
                  Incl: 20 Users SIP, 20 SIP Trunks, 10 Concurrent Calls, Auto-Recording, 4 Analog Ports (need FXO/FXS
                  Module)
                </p>                
                <div class="footer">
                  <a href="product/pbx-s20.html" class="btn circle btn-theme effect border btn-md">Selengkapnya</a>
                </div>
                {% include id/kontak-button.html product="Yeastar PBX S20" page="product/pbx-s20.html" %}
              </div>
            </div>
            <!-- End Single Item -->

          </div>
        </div>
        <!-- End Tab Content -->
      </div>
    </div>
  </div>
</div>
<!-- End Pricing Area -->