<!-- Start Pricing Area
    ============================================= -->
<div id="produk" class="pricing-area default-padding-top">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="site-heading text-center">
          <h2>Produk</h2>
          <h4>Daftar produk-produk kami</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="pricing pricing-simple text-center">
        <div class="col-md-4">
          <div class="pricing-item">
            <ul>
              <li class="icon">
                <i class="flaticon-start"></i>
              </li>
              <li class="pricing-header">
                <h4>SIM Diklat Rumah Sakit</h4>
                <h2><sup>Rp.</sup>25<sub> juta</sub></h2>
              </li>
              <li>Web-based</li>
              <li>Update</li>
              <li>File compressed</li>
              <li>Commercial use</li>
              <li>
                Support
                <span
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Available on pro version"
                  ><i class="fas fa-info-circle"></i
                ></span>
              </li>
              <li>2 database</li>
              <li>
                Documetation
                <span
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Available on pro version"
                  ><i class="fas fa-info-circle"></i
                ></span>
              </li>
              <li class="footer">
                <a class="btn btn-dark border btn-sm" href="#">Try for free</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="pricing-item active">
            <ul>
              <li class="icon">
                <i class="flaticon-quality-badge"></i>
              </li>
              <li class="pricing-header">
                <h4>SIM Pemberkasan</h4>
                <h2><sup>Rp.</sup>25<sub> juta</sub></h2>
              </li>
              <li>Demo file</li>
              <li>
                Update
                <span
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Only for extended licence"
                  ><i class="fas fa-info-circle"></i
                ></span>
              </li>
              <li>File compressed</li>
              <li>Commercial use</li>
              <li>
                Support
                <span
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Only for extended licence"
                  ><i class="fas fa-info-circle"></i
                ></span>
              </li>
              <li>5 database</li>
              <li>Documetation</li>
              <li class="footer">
                <a class="btn btn-theme effect btn-sm" href="#">Get Started</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="pricing-item">
            <ul>
              <li class="icon">
                <i class="flaticon-value"></i>
              </li>
              <li class="pricing-header">
                <h4>IP Phone Yealink E20</h4>
                <h2><sup>Rp.</sup>900<sub> ribu</sub></h2>
              </li>
              <li>Demo file</li>
              <li>Update</li>
              <li>File compressed</li>
              <li>Commercial use</li>
              <li>Support</li>
              <li>8 database</li>
              <li>Documetation</li>
              <li class="footer">
                <a class="btn btn-dark border btn-sm" href="#">Get Started</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Pricing Area -->
