<!-- Start Pricing Area
    ============================================= -->
<div id="produk" class="work-list-area default-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="site-heading text-center">
          <h2>Produk</h2>
          <h4>Daftar produk-produk kami</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 overview-items">
        <!-- Tab Nav -->
        <div class="tab-navigation text-center">
          <ul class="nav nav-pills">
            <li class="active">
              <a data-toggle="tab" href="#simapro" aria-expanded="false">
                <i class="flaticon-quality-badge"></i> SIMAPRO
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#sidik" aria-expanded="true">
                <i class="flaticon-quality-badge"></i> SIDIK
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#sipt30" aria-expanded="false">
                <i class="flaticon-start"></i> SIP-T30
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#pbxs20" aria-expanded="false">
                <i class="flaticon-start"></i> PBX S20
              </a>
            </li>
          </ul>
        </div>
        <!-- End Tab Nav -->
        <!-- Start Tab Content -->
        <div class="row">
          <div class="tab-content">
            <!-- Start Single Item -->
            <div id="sidik" class="tab-pane fade">
              <div class="col-md-6 thumb">
                <img src="/assets/images/products/sim-diklat.webp" alt="Aplikasi Web SIM Diklat Kordik KEP Rumah Sakit">
              </div>
              <div class="col-md-6 info">
                <h3>Software Diklat Rumah Sakit SIDIK</h3>
                <p>
                  Di era modern yang kompetitif, rumah sakit dituntut untuk memberikan layanan terbaik bagi para
                  pasiennya. Pengembangan kompetensi dan keahlian para staf medis dan non-medis menjadi kunci untuk
                  mencapai keunggulan kompetitif dan meningkatkan mutu layanan. Software Diklat Rumah Sakit hadir
                  sebagai solusi inovatif untuk menjawab kebutuhan tersebut.
                </p>
                <p>
                  Software Diklat Rumah Sakit adalah sistem terintegrasi yang dirancang khusus untuk membantu rumah
                  sakit dalam menyelenggarakan pelatihan dan pengembangan bagi para stafnya. Software ini menawarkan
                  berbagai fitur canggih untuk: Membuat dan mengelola program pelatihan, Mendaftarkan peserta dan
                  melacak kehadiran, Menyampaikan materi pelatihan yang interaktif, Memantau kemajuan peserta, Mengelola
                  sertifikat pelatihan, dan lain-lain.
                </p>
                <p>
                  SIDIK merupakan alat bantu untuk mengelola data kepegawaian menjadi bahan informasi. Dimana setiap
                  pegawai pernah ikut diklat agar dapat terdata di aplikasi tersebut sehingga jangan sampai yang
                  mengikuti Diklat hanya orang atau pegawai itu-itu saja. Tujuan dari SIDIK sebagai alat bantu untuk
                  mempersiapkan peserta diklat dan data alumni.
                </p>
                <ul>
                  <li>
                    <h4>Berbasis Web</h4>
                    Cukup menggunakan web browser di komputer atau smart phone.
                  </li>
                  <li>
                    <h4>Landing Page</h4>
                    Bisa digunakan untuk halaman publik untuk informasi umum departemen Diklat.
                  </li>
                  <li>
                    <h4>Manfaat Utama</h4>
                    Meningkatkan kompetensi dan keahlian staf, Meningkatkan efisiensi dan efektivitas pelatihan,
                    Meningkatkan mutu layanan rumah sakit, dan Meningkatkan daya saing rumah sakit
                  </li>
                  <li>
                    <h4>Kategori Kordik, KEP, dan Diklit</h4>
                    Manajemen Pelatihan In / Out House internal Karyawan Perusahaan (Diklit), Manajemen PKL, Magang, dan
                    Data awal dari Instansi luar Perusahaan (Kordik),
                    Manajemen Penelitian dari Instansi luar Perusahaan (KEP)
                  </li>
                </ul>
                <div class="footer">
                  <a href="product/sidik.html" class="btn circle btn-theme effect border btn-md">Selengkapnya</a>
                </div>
                {% include id/kontak-button.html product="Aplikasi Web SIM Diklat Kordik KEP Rumah Sakit"
                page="product/sidik.html" %}
              </div>
            </div>
            <!-- End Single Item -->

            <!-- Start Single Item -->
            <div id="simapro" class="tab-pane active fade in">
              <div class="col-md-6 thumb">
                <img src="assets/images/products/simapro.webp"
                  alt="Aplikasi Web Sistem Informasi Manajemen Proyek SIMAPRO">
              </div>
              <div class="col-md-6 info">
                <h3>Sistem Informasi Manajemen Proyek SIMAPRO</h3>
                <p>
                  SIMAPRO merupakan sebuah software aplikasi berbasis web yang dirancang untuk membantu organisasi dalam
                  merencanakan, mengelola, dan mengawasi proyek secara terpadu. SIMAPRO menyediakan platform lengkap
                  untuk berbagai fungsi penting dalam siklus hidup proyek, diantaranya: Perencanaan Proyek, Pelacakan
                  Kemajuan,Manajemen Tugas, dan Manajemen Anggaran
                </p>
                <p>
                  SIMAPRO menggunakan sistem approval bertingkat, dan memiliki beberapa kelompok user yaitu Admin,
                  Direksi, Purchasing, Accounting dan PimPro.
                </p>
                <ul>
                  <li>
                    <h4>Berbasis Web</h4>
                    Cukup menggunakan web browser di komputer atau smart phone.
                  </li>
                  <li>
                    <h4>Landing Page</h4>
                    Bisa digunakan untuk halaman publik untuk informasi umum departemen Diklat.
                  </li>
                  <li>
                    <h4>Analisa PIECES</h4>
                    metode analisis yang terdiri dari 6 indikator penilaian yaitu Performance, Information, Economy,
                    Control, Eficiency, dan Service.
                    Analisis ini merupakan cara untuk mengidentifikasi dan memecahkan permasalahan yang terjadi pada
                    suatu sistem berjalan.
                  </li>
                </ul>
                <div class="footer">
                  <a href="product/simapro.html" class="btn circle btn-theme effect border btn-md">Selengkapnya</a>
                </div>
                {% include id/kontak-button.html product="Aplikasi Web Sistem Informasi Manajemen Proyek SIMAPRO"
                page="product/simapro.html" %}
              </div>
            </div>
            <!-- End Single Item -->

            <!-- Start Single Item -->
            <div id="sipt30" class="tab-pane fade">
              <div class="col-md-6 thumb">
                <img src="assets/images/products/SIP-T30.webp" alt="IP Phone Yealink SIP-T30">
              </div>
              <div class="col-md-6 info">
                <h3>Yealink SIP-T30</h3>
                <p>
                  SIP Phone (1 SIP, non POE)<br />
                  132x64 (2.3"), HD Voice, 10/100 Dual-LAN, 1 SIP Account
                </p>
                <ul>
                  <li>
                    <h4>Superior HD Audio untuk komunikasi lebih baik</h4>
                    Menyediakan komunikasi bebas gangguan dengan teknologi Smart Noise Filtering terkemuka di industri,
                    memberikan kualitas suara sangat baik tanpa suara asing dan memungkinkan percakapan lancar.
                  </li>
                  <li>
                    <h4>Desain Klasik dan Praktis</h4>
                    Desain ergonomis memungkinkan pengalaman pengoperasian lebih mudah dan ramah bagi pengguna.
                  </li>
                  <li>
                    <h4>Kinerja kuat</h4>
                    Mampu memperluas lebih banyak layanan untuk berbagai tuntutan bisnis.
                  </li>
                </ul>
                <div class="footer">
                  <a href="product/sip-t30.html" class="btn circle btn-theme effect border btn-md">Selengkapnya</a>
                </div>
                {% include id/kontak-button.html product="Yealink SIP-T30" page="product/sip-t30.html" %}
              </div>
            </div>
            <!-- End Single Item -->

            <!-- Start Single Item -->
            <div id="pbxs20" class="tab-pane fade">
              <div class="col-md-6 thumb">
                <img src="assets/images/products/yeastar-pbx-s20.webp" alt="Yeastar PBX S20 IP-PBX for SMB/SOHO">
              </div>
              <div class="col-md-6 info">
                <h3>Yeastar PBX S20 IP-PBX for SMB/SOHO</h3>
                <p>
                  Incl: 20 Users SIP, 20 SIP Trunks, 10 Concurrent Calls, Auto-Recording, 4 Analog Ports (need FXO/FXS
                  Module)
                </p>
                <ul>
                  <li>
                    <h4>Sistem telepon usaha kecil entry-level kompak mudah digunakan, andal, dan kaya fitur</h4>
                  </li>
                  <li>
                    <h4>Mudah digunakan</h4>
                  </li>
                  <li>
                    <h4>Desain modular dan fleksibel</h4>
                    Siap dikombinasikan dengan 2 slot onboard-module untk kustom FXS, FXO, ISDN BRI, dan GSM/3G/4G.
                  </li>
                  <li>
                    <h4>Manajemen jarak jauh yang handal</h4>
                    Platform sangat aman untuk memantau dan mengelola sistem PBX Anda dari jarak jauh dan terpusat.
                  </li>
                </ul>
                <div class="footer">
                  <a href="product/pbx-s20.html" class="btn circle btn-theme effect border btn-md">Selengkapnya</a>
                </div>
                {% include id/kontak-button.html product="Yeastar PBX S20" page="product/pbx-s20.html" %}
              </div>
            </div>
            <!-- End Single Item -->

          </div>
        </div>
        <!-- End Tab Content -->
      </div>
    </div>
  </div>
</div>
<!-- End Pricing Area -->