<!-- Start Overview 
    ============================================= -->
<div id="overview" class="work-list-area include-arrow default-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="site-heading text-center">
          <h2>Produk <span>Custom</span></h2>
          <h4>Solusi Software Custom Terintegrasi</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 overview-items solid-items">
        <!-- Start Tab Content -->
        <div class="row">
          <!-- Start Single Item -->
          <div class="single-item product-custom">
            <div class="col-md-5 thumb">
              <img
                src="/assets/images/products/sim-diklat.webp"
                alt="Aplikasi Web SIM Diklat Kordik KEP Rumah Sakit"
              />
            </div>
            <div class="col-md-7 info">
              <h3>SIDIK - Software Diklat Perusahaan & Rumah Sakit</h3>
              <p>
                  SIDIK adalah sistem terintegrasi yang menyederhanakan seluruh proses pelatihan. 
                  Dari membuat program diklat hingga mengelola sertifikat, platform kami memberikan solusi lengkap untuk pengembangan staf.
                  Fitur-fitur canggih kami meliputi:
                  <ul>
                    <li>
                      <strong>Manajemen Program Pelatihan:</strong> Rancang dan kelola jadwal diklat dengan mudah.
                    </li>
                    <li>
                      <strong>Peserta:</strong> Lacak pendaftaran, kehadiran, dan kemajuan peserta secara real-time.
                    </li>
                    <li>
                      <strong>Materi Interaktif:</strong> Bagikan materi yang menarik untuk pembelajaran yang efektif.
                    </li>
                    <li>
                      <strong>Sertifikasi Otomatis:</strong> Kelola dan terbitkan sertifikat pelatihan dengan cepat.
                    </li>
                  </ul>
                </p>
                <p>
                  SIDIK adalah Software Diklat Rumah Sakit yang dirancang untuk mengelola data kepegawaian secara cerdas. 
                  Dengan SIDIK, Anda dapat memastikan pelatihan merata, bukan hanya pada staf yang sama. SIDIK membantu Anda mempersiapkan 
                  peserta diklat dan mengelola data alumni dengan efisien, memastikan setiap pegawai mendapatkan kesempatan yang adil untuk berkembang.
                </p>
                <ul>
                  <li>
                    <h4>Berbasis Web</h4>                    
                  </li>
                  <li>
                    <h4>Landing Page</h4>                    
                  </li>                  
                  <li>
                    <h4>Kategori Kordik, KEP, dan Diklit</h4>                    
                  </li>
                </ul>
                <div class="footer">
                  <a href="https://sidik.web.id/" target="_blank" class="btn circle btn-theme effect border btn-md">Selengkapnya</a>
                </div>
                {% include id/kontak-button.html product="Aplikasi Web SIM Diklat Kordik KEP Rumah Sakit"
                page="https://sidik.web.id/" %}
            </div>
          </div>
          <!-- End Single Item -->

          <!-- Start Single Item -->
          <div class="single-item product-custom reverse">
            <div class="col-md-5 thumb">
              <img src="assets/images/products/simapro.webp"
                  alt="Aplikasi Web Sistem Informasi Manajemen Proyek SIMAPRO">
            </div>
            <div class="col-md-7 info">
                <h3>SIMAPRO - Sistem Informasi Manajemen Proyek</h3>
                <p>
                  Maksimalkan efisiensi proyek Anda. SIMAPRO adalah solusi software web terpadu yang membantu organisasi merencanakan, mengelola, 
                  dan mengawasi setiap aspek proyek. Dari perencanaan proyek hingga manajemen anggaran, SIMAPRO memberikan kontrol penuh, 
                  memastikan proyek Anda selesai tepat waktu dan sesuai target.
                </p>
                <p>
                  SIMAPRO menggunakan sistem approval bertingkat, dan memiliki beberapa kelompok user yaitu Admin,
                  Direksi, Purchasing, Accounting dan PimPro.
                </p>
                <ul>
                  <li>
                    <h4>Berbasis Web</h4>                    
                  </li>
                  <li>
                    <h4>Landing Page</h4>                    
                  </li>
                  <li>
                    <h4>Analisa PIECES</h4>
                    metode analisis yang terdiri dari 6 indikator penilaian yaitu Performance, Information, Economy,
                    Control, Eficiency, dan Service.
                    Analisis ini merupakan cara untuk mengidentifikasi dan memecahkan permasalahan yang terjadi pada
                    suatu sistem berjalan.
                  </li>
                </ul>
                <div class="footer">
                  <a href="product/simapro.html" target="_blank" class="btn circle btn-theme effect border btn-md">Selengkapnya</a>
                </div>
                {% include id/kontak-button.html product="Aplikasi Web Sistem Informasi Manajemen Proyek SIMAPRO"
                page="product/simapro.html" %}
            </div>
          </div>
          <!-- End Single Item -->
         
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Overview -->
