<!-- Start We Offer 
    ============================================= -->
<div
  id="layanan"
  class="we-offer-area carousel-shadow text-center default-padding"
>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="site-heading text-center">
          <h2>Layanan yang <span>Kami Tawarkan</span></h2>
          <h4>Dika Karya Tech menghadirkan solusi digital dengan teknologi dan inovasi terkini untuk proses bisnis perusahaan.</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="our-offer-carousel owl-carousel owl-theme">

          <!-- Single Item -->
          <div class="item">
            <i class="flaticon-develop"></i>
            <h4>Custom Application Development</h4>
            <p>
              Mengembangkan aplikasi custom berbasis web dan mobile untuk perusahaan 
              menengah dan corporate. Anda akan mendapatkan layanan pengembangan 
              aplikasi web full-cycle dari konsep ide sampai siap digunakan.
            </p>
            <a class="btn btn-theme effect border btn-sm" href="/layanan.html">Lebih Detail</a>
          </div>
          <!-- End Single Item -->

          <!-- Single Item -->
          <div class="item">
            <i class="flaticon-sketch"></i>
            <h4>IT Consulting and Digital Transformation Services</h4>
            <p>
              Melalui layanan transformasi digital end-to-end, kami membantu perusahaan 
              mengadopsi teknologi baru, meningkatkan efisiensi operasional, 
              dan mendorong perubahan mendasar untuk pertumbuhan bisnis yang berkelanjutan.
            </p>
          </div>
          <!-- End Single Item -->

          <!-- Single Item -->
          <div class="item">
            <i class="flaticon-conversation"></i>
            <h4>VoIP or IPPBX Integration</h4>
            <p>
              Menerapkan teknologi digital dan internet untuk komunikasi internal, 
              eksternal dan antar cabang perusahaan yang aman, efisien dan tangguh.
            </p>
          </div>
          <!-- End Single Item -->          
          
          <!-- Single Item -->
          <div class="item">
            <i class="flaticon-refresh"></i>
            <h4>Process Automation and System Integration</h4>
            <p>
              Penggunaan teknologi untuk melakukan tugas atau proses berulang di perusahaan.
              Dan mengintegrasikan sistem yang terpisah menjadi terokestra dengan baik.
            </p>
          </div>
          <!-- End Single Item -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End We Offer -->
