<!-- Start We Offer 
    ============================================= -->
<div
  id="layanan"
  class="we-offer-area carousel-shadow text-center default-padding"
>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="site-heading text-center">
          <h2>Apa yang <span>kami Tawarkan</span></h2>
          <h4>Memahami proses yang mudah digunakan</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="our-offer-carousel owl-carousel owl-theme">
          <!-- Single Item -->
          <div class="item">
            <i class="flaticon-refresh"></i>
            <h4>Web App Development</h4>
            <p>
              Kami mengerjakan pembuatan aplikasi web untuk perusahaan dibidang 
              apa pun dan ukuran apa pun, menawarkan layanan pengembangan aplikasi 
              desain dan web. Pengembangan aplikasi web yang ideal untuk browser 
              apa pun dan di perangkat apa pun. Anda akan mendapatkan layanan 
              pengembangan aplikasi web full-cycle dari konsep ide sampai web 
              yang siap digunakan.
            </p>
          </div>
          <!-- End Single Item -->

          <!-- Single Item -->
          <div class="item">
            <i class="flaticon-sketch"></i>
            <h4>IT Consulting and Digital Transformation Services</h4>
            <p>
              Through our end-to-end digital transformation services, we help
              enterprises adopt new technologies, improve operational
              efficiency, and drive fundamental changes that are imperative for
              sustainable business growth.
              <br/>
              <br/>
              <br/>
            </p>
          </div>
          <!-- End Single Item -->

          <!-- Single Item -->
          <div class="item">
            <i class="flaticon-conversation"></i>
            <h4>VoIP / IPPBX, Process Automation and System Integration</h4>
            <p>
              Business process automation is the use of technology to perform
              repetitive tasks or processes in a company.
              <br/>
              <br/>
              <br/>
              <br/>
              <br/>
            </p>
          </div>
          <!-- End Single Item -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End We Offer -->
