<!-- Start We Offer 
    ============================================= -->
<div
  id="layanan"
  class="we-offer-area carousel-shadow text-center default-padding"
>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="site-heading text-center">
          <h2>Layanan yang <span>Kami Tawarkan</span></h2>
          <h4>Dika Karya Tech menghadirkan layanan terbaik untuk memenuhi kebutuhan produktivitas dan kredibilitas bisnis Anda</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="our-offer-carousel owl-carousel owl-theme">
          <!-- Single Item -->
          <div class="item">
            <i class="flaticon-refresh"></i>
            <h4>Custom Application Development</h4>
            <p>
              Mengembangkan aplikasi custom berbasis web dan mobile untuk perusahaan dibidang 
              dan ukuran apa pun. Pengembangan aplikasi web yang ideal untuk di semua web-browser 
              dan di semua perangkat. Anda akan mendapatkan layanan pengembangan aplikasi web 
              full-cycle dari konsep ide sampai siap digunakan.
            </p>
          </div>
          <!-- End Single Item -->

          <!-- Single Item -->
          <div class="item">
            <i class="flaticon-sketch"></i>
            <h4>IT Consulting and Digital Transformation Services</h4>
            <p>
              Melalui layanan transformasi digital end-to-end, kami membantu perusahaan 
              mengadopsi teknologi baru, meningkatkan efisiensi operasional, 
              dan mendorong perubahan mendasar yang sangat penting 
              untuk pertumbuhan bisnis yang berkelanjutan.
              <br/>
              <br/>
              <br/>
            </p>
          </div>
          <!-- End Single Item -->

          <!-- Single Item -->
          <div class="item">
            <i class="flaticon-conversation"></i>
            <h4>VoIP or IPPBX, Process Automation and System Integration</h4>
            <p>
              Otomasi proses bisnis adalah penggunaan teknologi untuk melakukan 
              tugas atau proses berulang di perusahaan.
              <br/>
              <br/>
              <br/>
              <br/>
              <br/>
            </p>
          </div>
          <!-- End Single Item -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End We Offer -->
