<!-- Start Team  <div id="team" class="team-area default-padding-top bottom-less">
    ============================================= -->
<div id="portfolio" class="team-area bg-gray default-padding bottom-30">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="site-heading text-center">
          <h2>Portofolio <span>Kami</span></h2>
          <h4>
            Kami memberikan solusi untuk membuat pekerjaan Anda sehari-hari menjadi lebih efisien dan membuat bisnis perusahaan Anda menjadi lebih baik 
          </h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="team-items">
        <div class="col-md-5 col-sm-6 single-item">
          <div class="item">
            <div class="thumb">
              <img src="assets/images/portfolio/salesboss-showcase.webp" alt="SalesBoss by FABSheets" />
              <div class="overlay">
                <h4>FABSheets</h4>
                <p>
                  Aplikasi web untuk membuat Sheet dalam Bisnis Perumahan.
                </p>
                <div>
                  <ul>
                    <li>
                      <a class="btn btn-light effect border btn-sm" style="margin-top: 10px;" href="/portofolio.html">
                        Selengkapnya
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="info">
              <span class="message">
                <a href="/portofolio.html"><i class="fas fa-envelope-open"></i></a>
              </span>
              <h4>SalesBoss by FABSheets</h4>
              <span>Aplikasi Web Custom</span>
            </div>
          </div>
        </div>
        <div class="col-md-7 col-sm-6 single-item">
          <div class="item">
            <div class="thumb">
              <img src="assets/images/portfolio/rahmat-keramik-showcase.webp" alt="SIM Toko UD Rahmat Keramik" />
              <div class="overlay">
                <h4>SIM Toko UD Rahmat Keramik</h4>
                <p>
                  Sistem Informasi Manajemen Toko berbasis web yang berfungsi untuk manajemen suplier, pelanggan,
                  barang, penjualan, pembelian, pergudangan stok, dan lain-lain.
                </p>
                <div>
                  <ul>
                    <li>
                      <a class="btn btn-light effect border btn-sm" style="margin-top: 10px;" href="/portofolio.html">
                        Selengkapnya
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="info">
              <span class="message">
                <a href="/portofolio.html"><i class="fas fa-envelope-open"></i></a>
              </span>
              <h4>UD Rahmat Keramik</h4>
              <span>Aplikasi Web Custom</span>
            </div>
          </div>
        </div>
        <div class="col-md-7 col-sm-6 single-item">
          <div class="item">
            <div class="thumb">
              <img src="assets/images/portfolio/pasar-surya-showcase.webp"
                alt="Sistem Informasi Perpasaran PD. Pasar Surya" />
              <div class="overlay">
                <h4>Sistem Informasi Perpasaran PD. Pasar Surya</h4>
                <p>
                  Sistem Informasi Perpasaran digunakan untuk manajemen Perpasaran Daerah.
                </p>
                <div>
                  <ul>
                    <li>
                      <a class="btn btn-light effect border btn-sm" style="margin-top: 10px;" href="/portofolio.html">
                        Selengkapnya
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="info">
              <span class="message">
                <a href="/portofolio.html"><i class="fas fa-envelope-open"></i></a>
              </span>
              <h4>Pasar Surya</h4>
              <span>Aplikasi Web Custom</span>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-sm-6 single-item">
          <div class="item">
            <div class="thumb">
              <img src="assets/images/portfolio/rsisurabaya-showcase.webp" alt="RSI Surabaya Achmad Yani" />
              <div class="overlay">
                <h4>SIM DIKLAT RSI Surabaya Achmad Yani</h4>
                <p>
                  Sistem Informasi Manajemen Diklat berbasis web yang berfungsi untuk manajemen Diklit, Kordik
                  dan KEP perusahaan.
                </p>
                <div>
                  <ul>
                    <li>
                      <a class="btn btn-light effect border btn-sm" style="margin-top: 10px;" href="/portofolio.html">
                        Selengkapnya
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="info">
              <span class="message">
                <a href="/portofolio.html"><i class="fas fa-envelope-open"></i></a>
              </span>
              <h4>RSI Surabaya Achmad Yani</h4>
              <span>Aplikasi Web Custom</span>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-sm single-item">
          <div class="item">
            <div class="thumb">
              <img src="assets/images/portfolio/cata-showcase.webp" alt="Cata App" />
              <div class="overlay">
                <h4>Cata Apps</h4>
                <p>
                  Website Aplikasi Toko, Medsos dan Direktori Pencarian
                </p>
                <div>
                  <ul>
                    <li>
                      <a class="btn btn-light effect border btn-sm" style="margin-top: 10px;" href="/portofolio.html">
                        Selengkapnya
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="info">
              <span class="message">
                <a href="/portofolio.html"><i class="fas fa-envelope-open"></i></a>
              </span>
              <h4>Cata</h4>
              <span>Aplikasi</span>
            </div>
          </div>
        </div>
        <div class="col-md-7 col-sm single-item">
          <div class="item">
            <div class="thumb">
              <img src="assets/images/portfolio/delray-showcase.webp" alt="Delray Donuts" />
              <div class="overlay">
                <h4>Delray Donuts</h4>
                <p>
                  Software Aplikasi Toko dan Pembuatan Roti untuk Delray Donuts.
                </p>
                <div>
                  <ul>
                    <li>
                      <a class="btn btn-light effect border btn-sm" style="margin-top: 10px;" href="/portofolio.html">
                        Selengkapnya
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="info">
              <span class="message">
                <a href="/portofolio.html"><i class="fas fa-envelope-open"></i></a>
              </span>
              <h4>Delray Donuts</h4>
              <span>Aplikasi Web Custom</span>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 single-item text-center">
          <a class="btn btn-theme btn-md" href="/portofolio.html">Tampilkan Portofolio Lebih Banyak</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Team -->

<div class="companies-area bg-theme-small padding-s text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12 info">
        <h3><span>Cooperation</span> and <span>Trust</span> from The Client Company</h3>
        <p style="margin-bottom: 10px;">
          Software and system development is only a tool to achieve business goals.
          But there is no way to get valuable results without cooperation and trust from the client company.
        </p>
        {% include id/kontak-button.html product="Aplikasi Web SIM Diklat Kordik KEP Rumah Sakit"
        page="product/sidik.html" %}
      </div>
    </div>
  </div>
</div>