<!-- Start Success Stories 
    ============================================= -->
<div id="portfolio" class="success-stories-area default-padding">
  <div class="container-full">
    <div class="row">
      <div class="item-flex">
        <div
          class="col-md-6 thumb bg-cover"
          style="background-image: url(assets/images/portfolio/salesboos1.webp)"
        ></div>
        <div class="col-md-6 info">
          <div class="heading">
            <h4>successful stories</h4>
          </div>
          <div class="stories-carusel owl-carousel owl-theme">
            <!-- Single Item -->
            <div class="item">
              <h2>Cooperation and Trust from The Client Company</h2>
              <p>
                Software and system development is only a tool to achieve business goals. 
                But there is no way to get valuable results without cooperation and trust from the client company.
              </p>
              <a href="portfolios.html" class="btn btn-theme effect btn-sm">Know More</a>
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            <div class="item">
              <h2>
                Divide and Conquer
              </h2>
              <p>
                The most fundamental problem in software development is complexity. 
                There is only one basic way of dealing with complexity: divide and conquer.
              </p>
              <a href="portfolios.html" class="btn btn-theme effect btn-sm">Know More</a>
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            <div class="item">
              <h2>
                Creativity, Engineering principles, and Evolutionary change
              </h2>
              <p>
                Software Development is not and will not be reduced to a simple mechanical “assembly line” process. 
                Creativity, engineering principles, and evolutionary change are needed to create a satisfactory large system.
              </p>
              <a href="portfolios.html" class="btn btn-theme effect btn-sm">Know More</a>
            </div>
            <!-- End Single Item -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Success Stories -->
